body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#d2d6e4;
    box-shadow: inset 0 0 5px rgb(22, 33, 153); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(27, 2, 167);
    box-shadow: inset 0 0 16px rgb(182, 188, 255); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0c0a53; 
  }

header{
    position: fixed;
    background: #362b97;
    padding: 20px;
    width: 100%;
    height: 30px;
    z-index: 2;
}
.leftarea{
    padding-left: 20px;
}
.leftarea h3{
    color: #fffbfb;
    margin: 0;
    font-size: 22px;
    font-weight: 900;
}
.leftarea span{
    color: rgb(9, 2, 59);
}
.logout{
    padding: 5px;
    background: rgb(9, 2, 59);
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #eeeded;
    transition: 0.5s;
    transition-property: none;
}
.logout:hover{
    background: rgba(121, 95, 236, 0.452);
   
}
.sidebar{
    background: #5f599b;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
    overflow-x: hidden;
}
.sidebar .profileimg{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}
.sidebar h4{
    color: #cccccc;
    margin-top: 0;
    margin-bottom: 20px;
}
.sidebar a{
    color: #ffffff;
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}
.sidebar #a1{
    background: rgba(118, 169, 245, 0.5);
}
.sidebar a:hover{
    background: rgba(114, 141, 182, 0.5);
   
}
.sidebar i{
    padding-right: 10px;
}
label #sidebtn{
    z-index: 1;
    color: #ffffff;
    position: fixed;
    cursor: pointer;
    left: 5px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}
label #sidebtn:hover{
    color: rgba(150, 130, 17, 0.322);
    padding: 2.6;
}
#check:checked ~ .sidebar{
    left: -250px;
}
#check:checked ~ .sidebar a span{
    display: none;
}
.content{
    margin-left: 250px;
    /*background: url("/project/img/img.jpg") repeat-x;*/
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
   
}
.box{
     width: 900px;
     height: 460px;
     background: rgb(255, 255, 255);
     color: #1d1b1b;
     position: relative;
     transform: translate(-50%, -50%);
     background-position: center;
     background-size: cover;
     box-sizing: border-box;
     padding: 30px 30px;
     top: 57%;
     left: 50%;
     transition: 0.5s;
     transition-property: width;
 }

#check:checked ~ .content{
    margin-left: 0px;
}
#check{
    display: none;
}
.input{
     width: 100%;
     margin-bottom: 20px;
 }
 
 .content input[type="date"]{
     border: none;
     border-bottom: 1px solid #111010;
     background: transparent;
     outline: none;
     height: 30px;
     color: #1f1b1b;
     font-size: 16px;
 }
 
 .box input{
     width: 80%;
     margin-bottom: 10px;
 }

 .content select{
  width:95%;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #181717;
  background: transparent;
  background: rgba(0, 0, 0, 0.212);
  outline: none;
  height: 30px;
  color: hsl(0, 0%, 3%);
  font-size: 16px;
}

 .table{
  color: #000000;
  width: 95%;
  table-layout: auto;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  border-collapse: collapse;
}

.td1{
  width:195px;
  padding-left:60px;
  padding-right:0px;
  font-weight: bold;
}

.td2{
  width:400px;
  padding-left:0px;
  padding-right:35px;
  font-weight: bold;
}

.content button{
  width: 50%;
  margin-bottom: 15px;
  float: right;
   border: none;
   outline: none;
   height: 40px;
   color:#f7f3f3;
   background: #362b97;
   font-size: 18px;
   border-radius: 5px;
   margin-left: 30px;
}

.content button:hover{
  cursor: pointer;
  background: #7b85f1;
  border:  #6279F4 0px;
  border-color:  #6279F4;
  border-style: solid;
  color:#000000;
}

.centerchart{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.td{
     width: 400px;
}
.td{
     width: 400px;
}

 .sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.sidebar ul li{
    color: blue;
}
.sidebar .submenu{
    display: none;
}
.submenu a{
    color: blue;
}
/*.sidebar ul li:hover .submenu{
    display: block;
    position: absolute;
    background: white;
    width: 250px;
}*/
#btn-sub1{                                  
    display: none;
  } 
  #btn-sub2{                                  
    display: none;
  } 
  #btn-sub3{                                  
    display: none;
  } 
  #btn-sub4{                                  
    display: none;
  } 
  
  .sub-head{                                        
    color: #ffffff;
    background-color: #5f599b;
    cursor: pointer;
    z-index: 1;
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  
  .sub-head:hover{                                    
    color: rgb(255, 255, 255);
    background-color: rgba(118, 169, 245, 0.5);
  }
  
  .sub-head span{                                     
    float:right;
  }
  [id^=btn-sub]:checked + .submenu{                          
    display:  block;
    position: static;
    background: white;
    width: 250px;
  }
  
  [id=btn-sub1]:checked + .submenu li{
    transform-origin: top center;
    opacity: 0;
    
  }
  
  
  [id^=btn-sub]:checked + .submenu li:nth-child(1){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: -150ms;
  }
  
  [id^=btn-sub]:checked + .submenu li:nth-child(2){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 0ms;
  }
  
  [id^=btn-sub]:checked + .submenu li:nth-child(3){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 150ms;
  }
  
  [id^=btn-sub]:checked + .submenu li:nth-child(4){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 300ms;
  }
  
  @keyframes animate{
    0%{
      opacity: 0;
      transform: rotateX(-90deg);
    }
    50%{
      transform: rotateX(20deg);
    }
    100%{
      opacity: 1;
      transform: rotateX(0deg);
    }
  }


  .ul{
    border-bottom: 120px solid #5f599b ;
  }
  .center{
    margin-left: 75px;
  }
  .center .h4{
    margin-left: 22px;
  }

  .chart{
    width: 800px;
    height: 300px;
    display: block;
  }
  
  .numbers{
    color: #000000;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 100%;
    display: inline-block;
    
  }
  
  .numbers li{
    list-style: none;
    height: 150px;
    position: relative;
    bottom: 145px;
    
  }
  
  .numbers span{
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    right: 10px;
  }
  
  .bars{
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    background: #ffffff;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 600px;
    height: 300px;
    box-shadow: 0 0 10px 0 #fff;
    border-radius: 5px;
  }
  
  .bars li{
    display: table-cell;
    width: 200px;
    height: 300px;
    position: relative;
  }
  
  .bars span{
    width: 100%;
    position: absolute;
    bottom: -30px;
    text-align: center;
  }
  
  .bars .bar{
    display: block;
    background: #17C0EB;
    width: 50px;
    position: absolute;
    bottom: 0;
    margin-left: 50px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(23, 192, 235, 0.5);
    transition: 0.5s;
    transition-property: background, box-shadow;
  }
  
  .bars .bar:hover{
    background: #55EFC4;
    box-shadow: 0 0 10px 0 rgba(85, 239, 196, 0.5);
    cursor: pointer;
  }
  
  .bars .bar:before{
    color: #000000;
    content: attr(data-percentage) '%';
    position: relative;
    bottom: 20px;
  }