
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:rgb(220, 220, 233);
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background:#d2d6e4;
  box-shadow: inset 0 0 5px rgb(22, 33, 153); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(27, 2, 167);
  box-shadow: inset 0 0 16px rgb(182, 188, 255); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0c0a53; 
}

header{
  position: fixed;
  background:  #362b97;
  padding: 20px;
  width: 100%;
  height: 30px;
  z-index: 2;
}
.leftarea{
  padding-left: 20px;
}
.leftarea h3{
  color: #ffffff;
  margin: 0;
  font-size: 22px;
  font-weight: 900;
}
.leftarea span{
  color: rgb(9, 2, 59);
}

.rightarea{
  margin-top: -12px;
  margin-right: -5PX;
}

.notifyimgb{
  float: right;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
  margin-right: 40px;
  margin-top: -25px;
}
.notifyimgr{
  float: right;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
  margin-right: 40px;
  margin-top: -25px;
}


.logout{
  padding: 5px;
  background: rgb(9, 2, 59);
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.5s;
  transition-property: none;
}
.logout:hover{
  background: rgba(121, 95, 236, 0.452);
}
.sidebar{
  background:#5f599b;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 653px;
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
  overflow-x: hidden
  }

  .ul{
    border-bottom: 60px solid #5f599b ;
  }

.sidebar .profileimg{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
  margin-left: 75px;
}

.center h4{
  margin-left: 101.1px;
}

.sidebar h4{
  color: #cccccc;
  margin-top: 0;
  margin-bottom: 20px;
}
.sidebar a{
  color: #ffffff;
  display: block;
  width: 100%;
  line-height: 50px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}
.sidebar #a1{
  background: rgba(118, 169, 245, 0.5);
}
.sidebar a:hover{
  background: rgba(118, 169, 245, 0.5);
}
.sidebar i{
  padding-right: 10px;
}
label #sidebtn{
  z-index: 1;
  color: #ffffff;
  position: fixed;
  cursor: pointer;
  left: 5px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}
label #sidebtn:hover{
  color: rgba(121, 95, 236, 0.452);
}
#check:checked ~ .sidebar{
  left: -250px;
}
#check:checked ~ .sidebar a span{
  display: none;
}
.content{
  margin-left: 250px;
  background-color:rgb(220, 220, 233);
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
 
}
.box{
   width: 1080px;
   height: 87vh;
  
   /* color: #1d1b1b; */
   position: relative;
   transform: translate(-50%, -50%);
   background-position: center;
   background-size: cover;
   box-sizing: border-box;
   padding: 30px 30px;
   top: 56%;
   left: 50%;
   transition: 0.5s;
   transition-property: width;
   z-index: 1;
}

.box h1{
  color: #000000;
}

.table{
  color: #000000;
  width: 1000px;
  table-layout: auto;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  border-collapse: collapse;
}

#check:checked ~ .content{
  margin-left: 0px;
}
#check{
  display: none;
}
.input{
   width: 100%;
   margin-bottom: 5px;
}

/* #itemcode{
 width: 70px;
} */

.box input[type="text"], input[type="textarea"]{
   border: none;
   border-bottom: 1px solid #000000;
   background: transparent;
   outline: none;
   height: 20px;
   color:  #000000;
   font-size: 16px;
}
.box select{
   width:90%;
   margin-bottom: 5px;
   border: none;
   border-bottom: 1px solid #181717;
   background: transparent;
   background:rgba(0, 0, 0, 0.212);
   outline: none;
   height: 20px;
   color: hsl(0, 0%, 3%);
   font-size: 16px;
}
.box input{
   width: 90%;
   margin-bottom: 5px;
}
.th{
   width: 400px;
   border: none;
}
.td{
   width: 400px;
   border: none;
}


.box #btn1{
  width: 200px;
  margin-bottom: 15px;
  float: right;
  border: none;
  outline: none;
  height: 40px;
  color: #f7f3f3;
  background:#362b97;
  font-size: 18px;
  border-radius: 5px;
  /* margin-left: 380px; */
}
.box #btn1:hover{
   cursor: pointer;
   background: #ffffff;
   border-color: #6279F4;
   border: #6279F4 5px;
   border-style: solid;
   color: #6279F4;
  
   
}

.box #btn2{
  width: 200px;
  margin-bottom: 15px;
  float: right;
  border: none;
  outline: none;
  height: 40px;
  color: #f7f3f3;
  background:#362b97;
  font-size: 18px;
  border-radius: 5px;

}
.box #btn2:hover{
  cursor: pointer;
  background: #ffffff;
  border-color: #6279F4;
  border: #6279F4 5px;
  border-style: solid;
  color: #6279F4;
}

.box #btn3{
  width: 45%;
  margin-bottom: 35px;
   border: none;
   outline: none;
   height: 40px;
   color: #ffffff;
   background: #f5e72a;
   font-size: 18px;
   border-radius: 20px;
   margin-left: 10px;
}
.box #btn3:hover{
   cursor: pointer;
   background: #f5e72a;
   color: #000000;
   box-shadow: 0 0 5px #f5e72a,
               0 0 25px #f5e72a,
               0 0 50px #f5e72a,
               0 0 200px #f5e72a;
}

.box #btn4{
  width: 45%;
  margin-bottom: 35px;
   border: none;
   outline: none;
   height: 40px;
   color: #ffffff;
   background: #f52a2a;
   font-size: 18px;
   border-radius: 20px;
   margin-left: 10px;
}
.box #btn4:hover{
   cursor: pointer;
   background: #f52a2a;
   color: #000000;
   box-shadow: 0 0 5px #f52a2a,
               0 0 25px #f52a2a,
               0 0 50px #f52a2a,
               0 0 200px #f52a2a;
}

.sidebar ul{
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;

}


.sidebar ul li{
  color: blue;
}

.submenu a{
  color: blue;
  background: white;
}

#btn-sub{                                  
  display: none;
} 

.sub-head{                                        
  color: #ffffff;
  background-color: #5f599b;
  cursor: pointer;
  z-index: 1;
  display: block;
  width: 100%;
  line-height: 50px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sub-head:hover{                                    
  color: rgb(255, 255, 255);
  background-color: rgba(118, 169, 245, 0.5);
}

.sub-head span{                                     
  float:right;
}

.submenu a:hover{
  color: rgb(255, 255, 255);
  background-color: #756fbe;
}

.sidebar .submenu{
  display: none;
  
}

/* .sidebar ul li:hover .submenu{
  display: block;
  position: absolute;
  background: rgb(255, 255, 255);
  width: 250px;
} */

[id^=btn-sub]:checked + .submenu{                          
  display:  block;
  position: static;
  background: transparent;
  width: 250px;
}

[id^=btn-sub]:checked + .submenu li{
  transform-origin: top center;
  opacity: 0;
  
}


[id^=btn-sub]:checked + .submenu li:nth-child(1){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: -150ms;
}

[id^=btn-sub]:checked + .submenu li:nth-child(2){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 0ms;
}

[id^=btn-sub]:checked + .submenu li:nth-child(3){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 150ms;
}

[id^=btn-sub]:checked + .submenu li:nth-child(4){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 300ms;
}

@keyframes animate{
  0%{
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50%{
    transform: rotateX(20deg);
  }
  100%{
    opacity: 1;
    transform: rotateX(0deg);
  }
}


.content :left{
  float: left;
}
.content :left{
  float: right;
}

.tr1{
  height: 80px;
  font-size: 25px;
  color: #000000;
}

.tr2{
  height: 100px;
  
}


.qty input{
  font-size: 20px;
  height: 26px;
  width: 160px;
  padding: 5px;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  outline: none;
}

.qty input::-webkit-outer-spin-button,
.qty input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  opacity: 1;
  margin: 0;
}

#qty_id{
  font-size: 20px;
  height: 26px;
  width: 160px;
  padding: 5px;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  outline: none;
}

#qty_id input::-webkit-outer-spin-button,
#qty_id input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  opacity: 1;
  margin: 0;
}

.updwn{
  padding: 3px;
  float: right;
  width: 20px;
}

.updwn i{
  margin-top: -13px;
  margin-left: -3px;
}

.updwn a{
  color: #000000;
  transition: 0.5s;
  transition-property: color;
}

.updwn a:hover{
  color: blue;
}

.del-icon{
  width: 120px;
}

.del-icon {
  padding: 0px;
  background: transparent;
  border: 1px solid rgb(0, 0, 0);
  text-decoration: none;
  width: 30px;
  height: 34px;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  color: #000000;
  transition: 0.5s;
  transition-property: background;

}
.del-icon i{
  margin-top: -100px;
}

.del-icon:hover{
  background: red;
}

.edit-icon{
  width: 120px;
}

.edit-icon{
  padding: 0px;
  background: transparent;
  border: 1px solid rgb(0, 0, 0);
  text-decoration: none;
  width: 30px;
  height: 34px;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  color: #000000;
  transition: 0.5s;
  transition-property: background;
}

#sum_total{
  width: 120px;
  margin-left: 15px; 
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color:black;
  
}

.edit-icon:hover{
  background: rgb(34, 145, 219);
}

.button{
  margin-left: 570px;
  float: right;
  width: 200px;
  margin-top: 30px;
}

.button1{
  float: right;
  width: 200px;
  margin-top: 30px;
}

.del-img{
  width: 70px;
  height: 70px;
  /* margin-left: 100px; */
  padding: 0%;
  border-radius: 6px;
  /* margin-top: -35px;
  margin-bottom: 0; */
}

.hr{
  height:3px;
  border-width:0;
  color:rgb(152, 154, 163);
  background-color:rgb(152, 154, 163);
}

.vl{
 
  height:10px;
  width: 100%;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  align-self: center;
  position: fixed;
  height: 200px;
  width: 400px; 
  bottom: 100px;
  right:700px;
  left: 260px;
  top: 300px;
  border: 3px solid #555;
  background-color: #555;
  border-radius: 5px;
  z-index: 1;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #555;
}

.form-container h3 b{
  bottom: 50px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.qty-box{
  background: transparent;
}


.popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


.popup-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  height: 25%;
}



.popup-content ul{
  font-size: 20px;
  margin-top: -10px;
  list-style: none;
}

.popup-content ul li{
  margin-top: 30px;
  margin-bottom: -20px;
  list-style: none;
}
.popup-content ul li input{
  width: 150px;
  font-size: 25px;
  border: none;
  background: transparent;
  border-color: white;
}
#qty_id{
  border: none;
}

#qty_id::-webkit-inner-spin-button {
  opacity: 1;
  
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -50px;
  margin-right: -5px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.popup .btn3{
  width: 100px;
  margin-top: 30px;
 margin-right:  9px ;
   border: none;
   outline: none;
   height: 35px;
   color: #f7f3f3;
   background: #362b97;
   font-size: 18px;
   border-radius: 5px;
  float: right;
}
.popup .btn3:hover{
   cursor: pointer;
   background: #7b85f1;
   color: #000000;
   padding: 2.6;
   /*box-shadow: 0 0 5px #6279F4,
               0 0 25px #6279F4,
               0 0 50px #6279F4,
               0 0 200px #6279F4;*/
}
.popup .btn4{
  width: 100px;
  margin-top: 23px;
  margin-bottom: -55px;
   border: none;
   outline: none;
   height: 35px;
   color: #f7f3f3;
   background: #474747;
   font-size: 18px;
   border-radius: 5px;
   margin-left: 10px;
}
.popup .btn4:hover{
   cursor: pointer;
   background: #c0c0c0;
   color: #000000;
   padding: 2.6;
   /*box-shadow: 0 0 5px #6279F4,
               0 0 25px #6279F4,
               0 0 50px #6279F4,
               0 0 200px #6279F4;*/
}