
body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #d6d6d6;
  }
header{
position: fixed;
background: #362b97;
padding: 20px;
width: 100%;
height: 70px;
z-index: 2;
}

.leftarea{
padding-left: 20px;
}
.leftarea h3{
color: #fffbfb;
margin: 0;
font-size: 22px;
font-weight: 900;
}
.leftarea span{
color: rgb(9, 2, 59);
}
.logout{
width: 100px;
height: 34px;
padding: 5px;
background: rgb(9, 2, 59);
text-decoration: none;
float: right;
margin-top: -30px;
margin-right: 2 0px;
border-radius: 2px;
text-align: center;
font-size: 20px;
font-weight: 550;
color: #eeeded;
transition: 0.5s;
transition-property: background;
}
.logout:hover{
background: rgba(121, 95, 236, 0.452);
}


.content{
    
    background-color:rgb(220, 220, 233) ;
    background-position: center;
    background-size: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 1;
    
}



.item-img1{
    z-index: 1;
    margin-left: 100px;
   border-color: #000000;
}

#check:checked ~ .content{
    margin-left: 0px;
}
#check{
    display: none;
}
.input{
    width: 100%;
    margin-bottom: 5px;
}



* {box-sizing:border-box}



/* Slideshow container */
.slideshow-container {
    max-width: 1150px;
    margin-top: auto;
    position: relative;
    margin: auto;
    z-index: 1;
}

.slideshow-container img{
    width: 1000px;
    border-radius: 15px;
    margin-top: 100px;
    margin-left: 72px;
    z-index: 2;
}

Hide the images by default 
    .mySlides {
    display: none;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-bottom: -60px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    margin-top: 40px;
    /* position: ; */
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {  
    color:rgb(121, 118, 118);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    margin-top: 100px;
    margin-left: 70px;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.row td{
margin-right: -10px;
}


.site-footer
{
background-color:#8c90a3;
padding:45px 0 20px;
font-size:15px;
line-height:24px;
color:#000000;
}
.site-footer hr
{
border-top-color:rgb(0, 0, 0);
opacity:0.5
}
.site-footer hr.small
{
margin:20px 0
}
.site-footer h6
{
color:rgb(0, 0, 0);
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px
}
.site-footer a
{
color:#737373;
}
.site-footer a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links
{
padding-left:0;
list-style:none
}
.footer-links li
{
display:block
}
.footer-links a
{
color:#000000
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links.inline li
{
display:inline-block
}
.site-footer .social-icons
{
text-align:right
}
.site-footer .social-icons a
{
width:40px;
height:40px;
line-height:40px;
margin-left:6px;
margin-right:0;
border-radius:100%;
background-color:#33353d
}
.copyright-text
{
margin-left: 10px;
}
@media (max-width:991px)
{
.site-footer [class^=col-]
{
    margin-bottom:30px
}
}
@media (max-width:767px)
{
.site-footer
{
    padding-bottom:0
}
.site-footer .copyright-text,.site-footer .social-icons
{
    text-align:center
}
}
.social-icons
{
padding-left:0;
margin-bottom:0;
list-style:none
}
.social-icons li
{
display:inline-block;
margin-bottom:4px
}
.social-icons li.title
{
margin-right:15px;
text-transform:uppercase;
color:#000000;
font-weight:700;
font-size:13px
}
.social-icons a{
background-color:#eceeef;
color:#818a91;
font-size:16px;
display:inline-block;
line-height:44px;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:#fff;
background-color:#29aafe
}
.social-icons.size-sm a
{
line-height:34px;
height:34px;
width:34px;
font-size:14px
}
.social-icons a.facebook:hover
{
background-color:#3b5998
}
.social-icons a.twitter:hover
{
background-color:#00aced
}
.social-icons a.linkedin:hover
{
background-color:#007bb6
}
.social-icons a.dribbble:hover
{
background-color:#ea4c89
}
@media (max-width:767px)
{
.social-icons li.title
{
    display:block;
    margin-right:0;
    font-weight:600
}
}