
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  header{
    position: fixed;
    background: #362b97;
    padding: 20px;
    width: 100%;
    height: 30px;
  }
  
  .leftarea{
    padding-left: 20px;
  }
  .leftarea h3{
    color: #ffffff;
    margin: 0;
    font-size: 22px;
    font-weight: 900;
  }
  .leftarea span{
    color:  rgb(9, 2, 59);
  }
  .rightarea{
    margin-top: -12px;
    margin-right: -5PX;
  }
  
  .notifyimgb{
    float: right;
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-top: -25px;
  }
  .notifyimgr{
    float: right;
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-top: -25px;
  }
  
  
  .logout{
    padding: 5px;
    background: rgb(9, 2, 59);
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.5s;
    transition-property: none;
  }
  .logout:hover{
    background: rgba(121, 95, 236, 0.452);
  }
  .sidebar{
    background: #5f599b;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
  }
  .sidebar .profileimg{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
  }
 
  .sidebar h4{
    color: #cccccc;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: -6px;
  }
  .sidebar a{
    color: #ffffff;
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  .sidebar #a1{
    background: rgba(118, 169, 245, 0.5);
  }
  .sidebar a:hover{
    background: rgba(118, 169, 245, 0.5);
  }
  .sidebar i{
    padding-right: 10px;
  }
  label #sidebtn{
    z-index: 1;
    color: #ffffff;
    position: fixed;
    cursor: pointer;
    left: 5px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
  }
  label #sidebtn:hover{
    color:  rgba(121, 95, 236, 0.452);
  }
  #check:checked ~ .sidebar{
    left: -250px;
  }
  #check:checked ~ .sidebar a span{
    display: none;
  }
  .content{
    margin-left: 250px;
    background-color:rgb(220, 220, 233);
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
   
  }
  .box{
     width: 780px;
     height: 600px;
     background: rgb(255, 255, 255);
     color: #ffffff;
     position: relative;
     transform: translate(-50%, -50%);
     background-position: center;
     background-size: cover;
     box-sizing: border-box;
     padding: 30px 30px;
     top: 56%;
     left: 50%;
     transition: 0.5s;
     transition-property: width;
  }
  
  .box table{
    height: 330px;
    width: 800px;
    table-layout: fixed;
   margin-left: -13px;
    padding-bottom: 20px;
  }
  
  #description{
    margin-top: 30px;
    margin-right: 117px;
    width: 305px;
    height: 250px;
  }
  
  #check:checked ~ .content{
    margin-left: 0px;
  }
  #check{
    display: none;
  }
  .input{
     width: 100%;
     margin-bottom: 5px;
  }
  
  .box input[type="text"], input[type="textarea"]{
     border: none;
     border-bottom: 1px solid #000000;
     background: transparent;
     outline: none;
     height: 20px;
     color: #000000;
     font-size: 16px;
  }
  .box select{
     width:90%;
     margin-bottom: 5px;
     border: none;
     border-bottom: 1px solid #000000;
     background: transparent;
     background: rgba(0, 0, 0, 0.212);
     outline: none;
     height: 20px;
     color: hsl(0, 0%, 0%);
     font-size: 16px;
  }
  .box input{
     width: 90%;
     margin-bottom: 5px;
  }
  .td{
     width: auto;
     color: #000000;
  }
  
  
  .box #btn1{
    width: 200px;
    margin-top: 70px;
    /* float: right; */
    border: none;
    outline: none;
    height: 40px;
    color: #f7f3f3;
    background:#362b97;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 220px;
  }
  .box #btn1:hover{
    cursor: pointer;
    background: #ffffff;
    border-color: #6279F4;
    border: #6279F4 5px;
    border-style: solid;
    color: #6279F4;
  }
  
  .box #btn2{
    width: 45%;
    margin-bottom: 35px;
     border: none;
     outline: none;
     height: 40px;
     color: #ffffff;
     background: #6ef462;
     font-size: 18px;
     border-radius: 20px;
     margin-left: 10px;
  }
  .box #btn2:hover{
     cursor: pointer;
     background: #6ef462;
     color: #000000;
     box-shadow: 0 0 5px #6ef462,
                 0 0 25px #6ef462,
                 0 0 50px #6ef462,
                 0 0 200px #6ef462;
  }
  
  .box #btn3{
    width: 45%;
    margin-bottom: 35px;
     border: none;
     outline: none;
     height: 40px;
     color: #ffffff;
     background: #f5e72a;
     font-size: 18px;
     border-radius: 20px;
     margin-left: 10px;
  }
  .box #btn3:hover{
     cursor: pointer;
     background: #f5e72a;
     color: #000000;
     box-shadow: 0 0 5px #f5e72a,
                 0 0 25px #f5e72a,
                 0 0 50px #f5e72a,
                 0 0 200px #f5e72a;
  }
  
  .box #btn4{
    width: 45%;
    margin-bottom: 35px;
     border: none;
     outline: none;
     height: 40px;
     color: #ffffff;
     background: #f52a2a;
     font-size: 18px;
     border-radius: 20px;
     margin-left: 10px;
  }
  .box #btn4:hover{
     cursor: pointer;
     background: #f52a2a;
     color: #000000;
     box-shadow: 0 0 5px #f52a2a,
                 0 0 25px #f52a2a,
                 0 0 50px #f52a2a,
                 0 0 200px #f52a2a;
  }
  
  .sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
  .sidebar .submenu{
    display: none;
  }
  
  .submenu a{
    color: blue;
  }
  
  .submenu a:hover{
    color: rgb(255, 255, 255);
    background-color: #756fbe;
  }
  
  .sidebar ul li:hover .submenu{
    display: block;
    position: absolute;
    background:rgb(255, 255, 255);
    width: 250px;
  }
  .content :left{
    float: left;
  }
  .content :left{
    float: right;
  }
  
  .img{
    width: 23%;
    height: 23%;
    margin-left: 100px;
    padding-left: 0 0 0;
    margin-top: -35px;
    margin-bottom: 0;
  }
  
  .qty{
    margin-top: 10px;
    margin-left: 115px;
    width:180px;
    height: 52px;
    padding: 5px;
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
  }
  
  .qty input{
    font-size: 25px;
    height: 40px;
    width: 130px;
    padding: 5px;
    border-radius: 5px;
    color: #000000;
  }
  
  .updwn{
    margin-top: 4px;
    padding: 5px;
    float: right;
    width: 20px;
    color: black;
  }
  
  .updwn a:hover{
    color: #362b97;
  }
  
  .updwn i{
    margin-top: -12px;
    margin-left: -3px;
  }
  
  input[type=text], select, textarea {
    width: 80%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid rgb(0, 0, 0); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #000000;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #000000;
    padding: 20px;
  }
  
  
  #drop-area {
    border: 2px dashed rgb(231, 15, 15);
    border-radius: 20px;
    width: 50px;
    height: 120px;
    font-family: sans-serif;
    margin: 20px auto;
    /* margin-left: 40px; */
    padding: 5px;
  }
  
  .progress {
    margin-left: 42px;
  }
  #progress-bar{
    background-color: #e7e7e7;
  }
  
  #drop-area.highlight {
    border-color: rgb(31, 29, 31);
  }
  
  p {
    margin-top: 0;
  }
  .my-form {
    margin-bottom: 10px;
  }
  #gallery {
    margin-top: 10px;
  }
  #gallery img {
    width: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
  }
  .button {
    display: inline-block;
    padding: 10px;
    background: #362b97;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #362b97;
    color: #ffffff;
  }
  .button:hover {
    cursor: pointer;
    background: #ffffff;
    border-color: #6279F4;
    /* border: #6279F4 5px; */
    border-style: solid;
    color: #6279F4;
  }
  #fileElem {
    display: none;
  }
  
  .item-img1{
      
    float: left;
    margin-left: 30px;
    margin-top:50px;
    margin-bottom: -20px;
    height: 260px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0); 
  }