
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #d6d6d6;
}

::-webkit-scrollbar {                                     /*Scroll bar*/
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background:#d2d6e4;
    box-shadow: inset 0 0 5px rgb(22, 33, 153); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(27, 2, 167);
    box-shadow: inset 0 0 16px rgb(182, 188, 255); 
    border-radius: 10px;
  }

header{
    position: fixed;
    background:#362b97;
    padding: 20px;
    width: 100%;
    height: 30px;
}
.leftarea{
    padding-left: 20px;
}
.leftarea h3{
    color: #fffbfb;
    margin: 0;
    font-size: 22px;
    font-weight: 900;
}
.leftarea span{
    color: rgb(9,2,59);
}

.rightarea{
    margin-top: -12px;
    margin-right: -5PX;
  }
  
.notifyimgb{
    float: right;
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-top: -25px;
}
.notifyimgr{
    float: right;
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-top: -25px;
}

.logout{
    padding: 5px;
    background: rgb(9, 2, 59);
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.5s;
    transition-property: none;
}
.logout:hover{
    background: rgba(121, 95, 236, 0.452);
}

.sidebar{
    background:#5f599b;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 653px;
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
    overflow-x: hidden;  
    z-index: 1;      
  }
  .ul{                                                        /*Unorder List in side navigation bar*/
    border-bottom: 50px solid #5f599b ;
    z-index: 1;
  }
  
  .sidebar .profileimg{                                       /*Profile Image*/
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
    margin-left: 75px;
  }
  
  .center h4{                                               /*User Name*/
    margin-left: 101.1px;
  }
  
  
  .sidebar h4{                                                /*side menu */
    color: #cccccc;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .sidebar a{
    color: #ffffff;
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  .sidebar #a1{
    background: rgba(118, 169, 245, 0.5);
  }
  .sidebar a:hover{
    background: rgba(118, 169, 245, 0.5);
  }
  .sidebar i{
    padding-right: 10px;
  }
  
  
  .sidebar ul li a span{
    float:right;
  }
  label #sidebtn{                             /*Side Button*/
    z-index: 1;
    color: #ffffff;
    position: fixed;
    cursor: pointer;
    left: 5px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
  }
  label #sidebtn:hover{
    color:   rgba(7, 25, 104, 0.452);
    
  }
  #check:checked ~ .sidebar{
    left: -250px;
  }
  #check:checked ~ .sidebar a span{
    display: none;
  }
    
    .sidebar ul{
      list-style: none;
      margin: 0;
      padding: 0;
      white-space: nowrap;
      
  }
  .sidebar ul li{
      color: blue;
  }
  .sidebar .submenu{
      display: none;
  }
  #btn-sub{                              
    display: none;
  }
  .submenu a{
      color: blue;
      background: white;
  }
  
  .sub-head{                                    
    color: #ffffff;
    background-color: #5f599b;
    cursor: pointer;
    z-index: 1;
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
  
  }
  
  
  .sub-head:hover{                                   
    color: rgb(255, 255, 255);
    background-color: rgba(118, 169, 245, 0.5);
  }
  
  .sub-head span{                                  
    float:right;
  }
  
  .submenu a:hover{
      color: rgb(255, 255, 255);
      background-color: #756fbe;
    
  }
  
  [id^=btn-sub]:checked + .submenu{                          
    display:  block;
    position: static;
    background: transparent;
    width: 250px;
    
  }
  
  [id^=btn-sub]:checked + .submenu li{
    transform-origin: top center;
    opacity: 0;
    
  }
  
  [id^=btn-sub]:checked + .submenu li:nth-child(1){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: -150ms;
  }
  
  [id^=btn-sub]:checked + .submenu li:nth-child(2){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 0ms;
  }
  
  [id^=btn-sub]:checked + .submenu li:nth-child(3){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 150ms;
  }
  
  [id^=btn-sub]:checked + .submenu li:nth-child(4){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 300ms;
  }
  
  
  @keyframes animate{
    0%{
      opacity: 0;
      transform: rotateX(-90deg);
    }
    50%{
      transform: rotateX(20deg);
    }
    100%{
      opacity: 1;
      transform: rotateX(0deg);
    }
  }
.content{
    margin-left: 250px;
    /*background: url("/project/img/img.jpg") repeat-x;*/
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
    background-color: rgb(220, 220, 233);
}
.box{
     width: 900px;
     height: 540px;
     background: rgb(255, 255, 255);
     color:#1d1b1b;
     position: relative;
     transform: translate(-50%, -50%);
     background-position: center;
     background-size: cover;
     box-sizing: border-box;
     padding: 30px 30px;
     top: 57%;
     left: 50%;
     transition: 0.5s;
     transition-property: width;
 }

#check:checked ~ .content{
    margin-left: 0px;
}
#check{
    display: none;
}
.input{
     width: 80%;
     margin-bottom: 10px;
 }
 
.box h3{
    margin-top: 1px; 
}

.box p{
    font-weight: bold;
    margin-top: 6px; 
}

 .box input[type="text"], input[type="textarea"],input[type="email"] ,input[type="password"]{
    border: none;
    border-bottom: 1px solid #111010;
    background: transparent;
    outline: none;
    height: 12px;
    color:  #1f1b1b;
    font-size: 16px;
 }
 .box select{
     width:80%;
     margin-bottom: 10px;
     border: none;
     border-bottom: 1px solid #181717;
     background: transparent;
     background: rgba(0, 0, 0, 0.212);
     outline: none;
     height: 24px;
     color: hsl(0, 0%, 3%);
     font-size: 16px;
 }
 .box input{
     width: 80%;
     margin-bottom: 10px;
 }
.td{
     width: 300px;
}

.td1{
    width:170px;
    padding-left:50px;
}

 .box #btn1{
    width: 10%;
    float: right;
    margin-bottom: 15px;
     border: none;
     outline: none;
     height: 40px;
     color: #f7f3f3;
     background: #362b97;
     font-size: 18px;
     border-radius: 5px;
     margin-left: 10px;
     margin-right: 60px;
 }
 .box #btn1:hover{
    cursor: pointer;
    background: #7b85f1;
    border-color: #6279F4;
    border: #6279F4 1px;
    border-style: solid;
    color: #000000;
}

.box #btn2{
    width: 30%;
    float: right;
    margin-bottom: 15px;
     border: none;
     outline: none;
     height: 40px;
     color: #f7f3f3;
     background: #362b97;
     font-size: 18px;
     border-radius: 5px;
     margin-left: 10px;
 }
 .box #btn2:hover{
    cursor: pointer;
    background: #7b85f1;
    border-color: #6279F4;
    border: #6279F4 1px;
    border-style: solid;
    color: #000000;
}

 .box #btn3{
    width: 45%;
    margin-bottom: 35px;
     border: none;
     outline: none;
     height: 40px;
     color: #ffffff;
     background: #f5e72a;
     font-size: 18px;
     border-radius: 20px;
     margin-left: 10px;
 }
 .box #btn3:hover{
     cursor: pointer;
     background: #f5e72a;
     color: #000000;
     box-shadow: 0 0 5px #f5e72a,
                 0 0 25px #f5e72a,
                 0 0 50px #f5e72a,
                 0 0 200px #f5e72a;
 }

 .box #btn4{
    width: 45%;
    margin-bottom: 35px;
     border: none;
     outline: none;
     height: 40px;
     color: #ffffff;
     background: #f52a2a;
     font-size: 18px;
     border-radius: 20px;
     margin-left: 10px;
 }
 .box #btn4:hover{
     cursor: pointer;
     background: #f52a2a;
     color: #000000;
     box-shadow: 0 0 5px #f52a2a,
                 0 0 25px #f52a2a,
                 0 0 50px #f52a2a,
                 0 0 200px #f52a2a;
 }

 

.box a{
    text-decoration: none;
    color: white;
}
.box li{
    width: 500px;
    margin: 20px 0;
    list-style: none;
    
}
.bar{
    width: 800px;
    display: block;
    height: 4px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #1c73c5b3;
}
.h6{
    float: right;
}
.bar span{
    height: 4px;
    float: left;
    background: #1c89f0b3;
}

.material1{
    width: 90%;
    animation: material 2s;
}

@keyframes material1{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
.material2{
    width: 30%;
    animation: material 2s;
}

@keyframes material2{
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}
.material3{
    width: 50%;
    animation: material 2s;
}

@keyframes material3{
    0%{
        
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

#icon1 {
    margin-left: -30px;
    cursor: pointer;
}

#icon2 {
    margin-left: -30px;
    cursor: pointer;
}
#icon3 {
    margin-left: -30px;
    cursor: pointer;
}
.error
{
  color: red;
  size: 80%
}
.hidden
{
  display:none;
}