
body{                                             /* full body*/
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:rgb(220, 220, 233);
}

::-webkit-scrollbar {                                     /*Scroll bar*/
  width: 12px;
}

::-webkit-scrollbar-track {
  background:#d2d6e4;
  box-shadow: inset 0 0 5px rgb(22, 33, 153); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(27, 2, 167);
  box-shadow: inset 0 0 16px rgb(182, 188, 255); 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #0c0a53; 
}

header{                                               /*Header Bar*/
  position: fixed;
  background: #362b97;
  padding: 20px;
  width: 100%;
  height: 70px;
  z-index: 2;
}
.rightarea{
  margin-top: -12px;
}
.leftarea{                                            /*EMS */
  padding-left: 20px;
  width: 400px;
  margin-right: 10px;
}
.leftarea h3{
  color: #fffbfb;
  margin: 0;
  width: 400px;
  font-size: 22px;
  font-weight: 900;
}
.notify{
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background-color: lightblue;
  margin-top: 0px;
  margin-left: 20px;
}

.notifyimgb{
  float: right;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
  margin-right: 40px;
  margin-top: -25px;
}
.notifyimgr{
  float: right;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
  margin-right: 40px;
  margin-top: -25px;
}

.logout{                                              /*LogOut*/
  padding: 5px;
  background: rgb(9, 2, 59);
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: -5px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #eeeded;
  transition: 0.5s;
  transition-property: color;
}
.logout:hover{
  background: rgba(7, 25, 104, 0.452);
}

.sidebar{                                                   /*Side navigation Bar*/
  background:#5f599b;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 653px;
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
  overflow-x: hidden;  
  z-index: 1;                              
}

.ul{                                                        /*Unorder List in side navigation bar*/
  border-bottom: 20px solid #5f599b ;
  z-index: 1;
}

.sidebar .profileimg{                                       /*Profile Image*/
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
  margin-left: 75px;
}

.center h4{                                               /*User Name*/
  margin-left: 101.1px;
}


.sidebar h4{                                                /*side menu */
  color: #cccccc;
  margin-top: 0;
  margin-bottom: 20px;
}
.sidebar a{
  color: #ffffff;
  display: block;
  width: 100%;
  line-height: 50px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}
.sidebar #a1{
  background: rgba(118, 169, 245, 0.5);
}
.sidebar a:hover{
  background: rgba(118, 169, 245, 0.5);
}
.sidebar i{
  padding-right: 10px;
}


.sidebar ul li a span{
  float:right;
}
label #sidebtn{                             /*Side Button*/
  z-index: 1;
  color: #ffffff;
  position: fixed;
  cursor: pointer;
  left: 5px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}
label #sidebtn:hover{
  color:   rgba(7, 25, 104, 0.452);
  
}
#check:checked ~ .sidebar{
  left: -250px;
}
#check:checked ~ .sidebar a span{
  display: none;
}
  
  .sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    
}
.sidebar ul li{
    color: blue;
}
.sidebar .submenu{
    display: none;
}
#btn-sub{                              
  display: none;
}
.submenu a{
    color: blue;
    background: white;
}

.sub-head{                                    
  color: #ffffff;
  background-color: #5f599b;
  cursor: pointer;
  z-index: 1;
  display: block;
  width: 100%;
  line-height: 50px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;

}


.sub-head:hover{                                   
  color: rgb(255, 255, 255);
  background-color: rgba(118, 169, 245, 0.5);
}

.sub-head span{                                  
  float:right;
}

.submenu a:hover{
    color: rgb(255, 255, 255);
    background-color: #756fbe;
  
}

[id^=btn-sub]:checked + .submenu{                          
  display:  block;
  position: static;
  background: transparent;
  width: 250px;
  
}

[id^=btn-sub]:checked + .submenu li{
  transform-origin: top center;
  opacity: 0;
  
}

[id^=btn-sub]:checked + .submenu li:nth-child(1){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: -150ms;
}

[id^=btn-sub]:checked + .submenu li:nth-child(2){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 0ms;
}

[id^=btn-sub]:checked + .submenu li:nth-child(3){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 150ms;
}

[id^=btn-sub]:checked + .submenu li:nth-child(4){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 300ms;
}


@keyframes animate{
  0%{
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50%{
    transform: rotateX(20deg);
  }
  100%{
    opacity: 1;
    transform: rotateX(0deg);
  }
}

.content{                                         /*Content div*/
  margin-left: 250px;
  background-color:rgb(220, 220, 233) ;
  background-position: center;
  background-size: 500px;
  height: 100%;
  transition: 0.5s;
  z-index: 1;
 
}

#check:checked ~ .content{
  margin-left: 0px;
}
#check{
  display: none;
}


  .content :left{
    float: left;
  }
  .content :left{
    float: right;
  }
  
  * {box-sizing:border-box}

  

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    margin-top: auto;
    position: relative;
    margin: auto;
    z-index: 1;
  }

  .slideshow-container img{
      width: auto;
      border-radius: 15px;
      margin-top: 100px;
      margin-left: 72px;
      z-index: 1;
  }
  

   .mySlides {
    display: none;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-bottom: -60px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
 
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    margin-top: 40px;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {  
    color:rgb(121, 118, 118);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    margin-top: 100px;
    margin-left: 70px;
    top: 0;
  }
  

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  /* .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
  } */

.row td{
  margin-right: -10px;
}

.site-footer
{
  background-color:#8c90a3;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#000000;
}
.site-footer hr
{
  border-top-color:rgb(0, 0, 0);
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:rgb(0, 0, 0);
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#000000
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  margin-left: 465px;
  text-align: center;
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin-left: 10px;
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#000000;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (max-width:100%){
  #check:checked ~ .sidebar{
    display: none;
  }
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}