
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:rgb(220, 220, 233);
    
}
::-webkit-scrollbar {                                     /*Scroll bar*/
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background:#d2d6e4;
    box-shadow: inset 0 0 5px rgb(22, 33, 153); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(27, 2, 167);
    box-shadow: inset 0 0 16px rgb(182, 188, 255); 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #0c0a53; 
  }

header{
    position: fixed;
    background: #362b97;
    padding: 20px;
    width: 100%;
    height: 30px;
    z-index: 2;
}
.leftarea{
    padding-left: 20px;
}
.leftarea h3{
    color: #ffffff;
    margin: 0;
    font-size: 22px;
    font-weight: 900;
}
.leftarea span{
    color: rgb(9, 2, 59);
}
.rightarea{
    margin-top: -12px;
    margin-right: -5PX;
  }
  
  .notifyimgb{
    float: right;
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-top: -25px;
  }
  .notifyimgr{
    float: right;
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-top: -25px;
  }
  
  
  .logout{
    padding: 5px;
    background: rgb(9, 2, 59);
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.5s;
    transition-property: none;
  }
  .logout:hover{
    background: rgba(121, 95, 236, 0.452);
  }
  .sidebar{                                                   /*Side navigation Bar*/
    background:#5f599b;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 653px;
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
    overflow-x: hidden;  
    z-index: 1;                              
  }
  
  .ul{                                                        /*Unorder List in side navigation bar*/
    border-bottom: 20px solid #5f599b ;
    z-index: 1;
  }
  
  .sidebar .profileimg{                                       /*Profile Image*/
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
    margin-left: 75px;
  }
  
  .center h4{                                               /*User Name*/
    margin-left: 101.1px;
  }
  
  
  .sidebar h4{                                                /*side menu */
    color: #cccccc;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .sidebar a{
    color: #ffffff;
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  .sidebar #a1{
    background: rgba(118, 169, 245, 0.5);
  }
  .sidebar a:hover{
    background: rgba(118, 169, 245, 0.5);
  }
  .sidebar i{
    padding-right: 10px;
  }
  
  
  .sidebar ul li a span{
    float:right;
  }
  label #sidebtn{                             /*Side Button*/
    z-index: 1;
    color: #ffffff;
    position: fixed;
    cursor: pointer;
    left: 5px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
  }
  label #sidebtn:hover{
    color:   rgba(7, 25, 104, 0.452);
    
  }
  #check:checked ~ .sidebar{
    left: -250px;
  }
  #check:checked ~ .sidebar a span{
    display: none;
  }
    
    .sidebar ul{
      list-style: none;
      margin: 0;
      padding: 0;
      white-space: nowrap;
      
  }
  .sidebar ul li{
      color: blue;
  }
  .sidebar .submenu{
      display: none;
  }
  #btn-sub{                              
    display: none;
  }
  .submenu a{
      color: blue;
      background: white;
  }
  
  .sub-head{                                    
    color: #ffffff;
    background-color: #5f599b;
    cursor: pointer;
    z-index: 1;
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
  
  }
  
  
  .sub-head:hover{                                   
    color: rgb(255, 255, 255);
    background-color: rgba(118, 169, 245, 0.5);
  }
  
  .sub-head span{                                  
    float:right;
  }
  
  .submenu a:hover{
      color: rgb(255, 255, 255);
      background-color: #756fbe;
    
  }
  
  [id^=btn-sub]:checked + .submenu{                          
    display:  block;
    position: static;
    background: transparent;
    width: 250px;
    
  }
  
  [id^=btn-sub]:checked + .submenu li{
    transform-origin: top center;
    opacity: 0;
    
  }
  
  [id^=btn-sub]:checked + .submenu li:nth-child(1){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: -150ms;
  }
  
  [id^=btn-sub]:checked + .submenu li:nth-child(2){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 0ms;
  }
  
  [id^=btn-sub]:checked + .submenu li:nth-child(3){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 150ms;
  }
  
  [id^=btn-sub]:checked + .submenu li:nth-child(4){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 300ms;
  }
  
  
  @keyframes animate{
    0%{
      opacity: 0;
      transform: rotateX(-90deg);
    }
    50%{
      transform: rotateX(20deg);
    }
    100%{
      opacity: 1;
      transform: rotateX(0deg);
    }
  }
.content{
    margin-left: 250px;
    background-color:rgb(220, 220, 233);
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
   
}
.box{
     width: 950px;
     height: 600px;
     background: #ffffff;
     color: #000000;
     position: relative;
     transform: translate(-50%, -50%);
     background-position:center;
     background-size: cover;
     box-sizing: border-box;
     padding: 30px 30px;
     top: 57%;
     left: 50%;
     transition: 0.5s;
     transition-property: width;
     /* margin-top: 20px; */
     z-index: 1;
 }

#check:checked ~ .content{
    margin-left: 0px;
}
#check{
    display: none;
}
.input{
     /* width: 100%; */
     margin-bottom: 20px;
 }

 .topic{
    width: 350px;
    color: #000000;
    font-size:30px;
    margin-left: -40px;
    margin-top: 15px;
    margin-bottom: -60px;
    
 }


 #product_name{
     font-size: 30px;
     width: 320px;
     font-weight: 100;
 }


 .item-img1{
    
    float: left;
    margin-left: 30px;
    margin-top:50px;
    margin-bottom: -20px;
    height: 260px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0); 
 }
 .box input[type="text"], input[type="textarea"], input[type="password"]{
     border: none;
     background: transparent;
     outline: none;
     height: 30px;
     color: #000000;
     font-size: 16px;
 }
 .box select{
     width:90%;
     margin-bottom: 10px;
     border: none;
     border-bottom: 1px solid #000000;
     background: transparent;
     background: #ffffff;
     outline: none;
     height: 30px;
     color: #000000;
     font-size: 16px;
 }

.td{
     width: 400px;
}
.td{
     width: 400px;
}
 .box #btn1{
    width: 200px;
    margin-bottom: 15px;
    /* float: right; */
    border: none;
    outline: none;
    height: 40px;
    color: #f7f3f3;
    background:#362b97;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 320px;
 }
 .box #btn1:hover{
    cursor: pointer;
   background: #ffffff;
   border-color: #6279F4;
   border: #6279F4 5px;
   border-style: solid;
   color: #6279F4;
      
}


 


.box a{
    text-decoration: none;
    color: white;
}
.box li{
    width: 500px;
    margin: 20px 0;
    list-style: none;
    
}
.table{
    margin-top: -85px;
    width: 600px;
  
}
.product-item1{
    margin-top: -50px;
}

.detail1{
    margin-top: -80px;
}

.detail1 ul{
    padding-top: 13px;
    padding-left: 0px;
    margin-left: 40px;
    margin-top: 190px;
    text-align: left;
}
.detail1 ul li{
    
    line-height: 10px;
}

.p{
    margin-top: -10px;
    width: 1300px;
    text-align: justify;
}

.submit-btn{
    left: 1700px;
   margin-left: 70px;
  width: 500px;
    
}
.addtocart{
    margin-left: 140px;
    width: 220px;
}

.submit-btn a{
    margin-top: 120px;
    width: 200px;
    /* margin-left:-20px; */
    padding: 5px;   
    border: none;
    outline: none;
    height: 40px;
    color: #f7f3f3;
    background:#362b97;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
}

.submit-btn a:hover{
    padding: 2.6px;
    height: 30px;
    width: 140px;
    cursor: pointer;
    background: #ffffff;
    border-color: #6279F4;
    border: #6279F4;
    border-style: solid;
    color: #6279F4;
}

.qty{
    margin-top: -10px;
    width:180px;
    height: 40px;
    padding: 5px;
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    margin-right: -50px;
  }
  
  .qty input{
    font-size: 25px;
    height: 40px;
    width: 130px;
    padding: 5px;
    border-radius: 5px;
  }
  
  .updwn{
    padding: 3px;
    float: right;
    width: 20px;
  }
  
  .updwn i{
    margin-top: -13px;
    margin-left: -3px;
  }
  
  .updwn a{
    color: #000000;
  }
  
  .updwn a:hover{
    color: blue;
  }
 
  .qty input{
    font-size: 15px;
    height: 26px;
    width: 160px;
    padding: 5px;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    outline: none;
  }

.qty input::-webkit-outer-spin-button,
.qty input::-webkit-inner-spin-button {
    opacity: 1;
  margin: 0;
}