body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:rgb(220, 220, 233);
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#d2d6e4;
    box-shadow: inset 0 0 5px rgb(22, 33, 153); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(27, 2, 167);
    box-shadow: inset 0 0 16px rgb(182, 188, 255); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0c0a53; 
  }

header{
    position: fixed;
    background: #362b97;
    padding: 20px;
    width: 100%;
    height: 30px;
    z-index: 2;
}
.leftarea{
    padding-left: 20px;
}
.leftarea h3{
    color: #ffffff;
    margin: 0;
    font-size: 22px;
    font-weight: 900;
}
.leftarea span{
    color: rgb(9, 2, 59);
}
.rightarea{
  margin-top: 0px;
  margin-right: 38px;
}
.logout{
  padding: 4.8px;
  background: rgb(9, 2, 59);
  text-decoration: none;
  float: right;
  margin-top: -30px;
  border-radius: 2px;
  font-size: 14.9px;
  font-weight: 590;
  color: #eeeded;
  transition: 0.5s;
  transition-property: color;
}

.notifyimgb{
  float: right;
  width: 34.5px;
  height: 34.5px;
  margin-bottom: 20px;
  margin-right: 104.8px;
  margin-top: -34.5px;
}
.notifyimgr{
  float: right;
  width: 34.5px;
  height: 34.5px;
  margin-bottom: 20px;
  margin-right: 104.8px;
  margin-top: -34.5px;
}


.searchbar{
    padding: 6px;
    text-decoration: none;
    float: right;
    margin-top: -35px;
    margin-right: 47px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
}
.search-bttn{
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.search-bttn button:focus{
  background: none;
  border: none;
}
.search-bttn i{
    color: #ffffff; 
}
.search-bttn i:hover{
     color:rgba(121, 95, 236, 0.452);;
}
.logout:hover{
    background: rgba(121, 95, 236, 0.452);
}
.sidebar{
  background:#5f599b;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 653px;
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
  overflow-x: hidden;
  }

.ul{
    border-bottom: 20px solid #5f599b ;
  }

  .sidebar .profileimg{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
  }
  .center h4{
    margin-left: 101.1px;
  }
  .sidebar h4{
    color: #cccccc;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: -6px;
  }
  .sidebar a{
    color: #ffffff;
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  .sidebar #a1{
    background: rgba(118, 169, 245, 0.5);
  }
  .sidebar a:hover{
    background: rgba(118, 169, 245, 0.5);
  }
  .sidebar i{
    padding-right: 10px;
  }

  .sidebar ul li a span{
    float:right;
  }

  label #sidebtn{
    z-index: 1;
    color: #ffffff;
    position: fixed;
    cursor: pointer;
    left: 5px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
  }
  label #sidebtn:hover{
    color:rgba(150, 130, 17, 0.322);
  }
  #check:checked ~ .sidebar{
    left: -250px;
  }
  #check:checked ~ .sidebar a span{
    display: none;
  }

.content{
    margin-left: 250px;
    background-color:rgb(220, 220, 233);
    background-position: center;
    background-size: cover;
    height: 100%;
    transition: 0.5s;
    z-index: 1;
}
#check:checked ~ .content{
    margin-left: 0px;
}
#check{
    display: none;
}
.sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.sidebar ul li{
    color: blue;
}
.sidebar .submenu{
    display: none;
}
.submenu a{
    color: blue;
    background: white;
}

#btn-sub{
    display: none;
}

.sub-head{                                        /*new one*/
    color: #ffffff;
    background-color: #5f599b;
    cursor: pointer;
    z-index: 1;
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .sub-head:hover{                                    /*new one*/
    color: rgb(255, 255, 255);
    background-color: rgba(118, 169, 245, 0.5);
  }
  
  .sub-head span{                                     /*new one*/
    float:right;
    padding-right: 0px;
  }

.submenu a:hover{
    color: rgb(255, 255, 255);
    background-color: #756fbe;
}
/* .sidebar ul li:hover .submenu{
    display: block;
    position: absolute;
    background: white;
    width: 250px;
} */

[id^=btn-sub]:checked + .submenu{                           /*new one*/ 
    display:  block;
    position: static;
    background: transparent;
    width: 250px;
  }
  
  [id^=btn-sub]:checked + .submenu li{
    transform-origin: top center;
    opacity: 0;
    
  }
  
  
  [id^=btn-sub]:checked + .submenu li:nth-child(1){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: -150ms;
  }
  
  [id^=btn-sub]:checked + .submenu li:nth-child(2){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 0ms;
  }
  
  [id^=btn-sub]:checked + .submenu li:nth-child(3){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 150ms;
  }
  
  [id^=btn-sub]:checked + .submenu li:nth-child(4){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 300ms;
  }
  
  @keyframes animate{
    0%{
      opacity: 0;
      transform: rotateX(-90deg);
    }
    50%{
      transform: rotateX(20deg);
    }
    100%{
      opacity: 1;
      transform: rotateX(0deg);
    }
  }

.c-btn{
    height: 30px;
    width: 30px;
    padding: 5px;
    background: #362b97;
    text-decoration: none;
    float: right;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: -395px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
  
}

.c-btn i{
  margin-top: 4px;
  margin-left: 2px;
}

.ct-btn{
  height: 5px;
  width: 120px;
  padding: 5px;
  background: #362b97;
  text-decoration: none;
  float: right;
  margin-top: 93px;
  margin-bottom: -30px;
  margin-right: 25px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  border: none;
    
}

.c-btn:hover{
    padding: 2.6px;
    background: #ffffff;
    border-color: #6279F4;
    border: #6279F4;
    border-style: solid;
    color: #6279F4;
}


.product-item {
    margin-left: 90px;
   
}

.table1{
  border-spacing: 0 15px;
  margin-left: 45px;

  width: 1094.4px;
  /* position: relative; */
  /* transform: translate(1094.4px, 1094.4px); */
  background-position: center;
  background-size: cover;
  transition: 0.5s;
  transition-property: width;
}


.table1 th{
  border-radius: 5px;
  border: 1px solid black;
  width: 1094.4px;
  
}

.tr1 {
   
  background:linear-gradient(to  right, rgb(216, 218, 252), rgb(255, 255, 255));   
}

.tr2 td input{
    margin-bottom: 5px;
    color: black;
}
.tr td{
    height: 80px;
}

.tr2 td input[type="text"], input[type="textarea"], input[type="number"]{
    border: none;
    background: transparent;
    outline: none;
    height: 25px;
    color: #000000;
    font-size: 18px;
    font-weight:bold;
    text-align: left;
    
}

.tr2 td{
    text-align: left; 
    font-weight:bold;  
}
.li1{
    height: 20px;
    font-size: 15px;
    font-weight: bold;
    width: 600px;
}

.li1 h3{
  /* height:200px; */
  font-weight: bold;

}
.li2{
  padding-top: 0px;
  padding-bottom: 0px;
    font-size: 20px;
    color: #87878a;
}

.tr2 td ul{
    list-style-type: none;
    margin-left: -180px;
    margin-right: -80px;
    width: 600px;
}


.item-img1{
    
    float: left;
    margin-left: 15px;
    margin-top:15px;
    margin-bottom: 15px;
    height: 160px;
    width: 170px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}

.detail1{
    
    table-layout: auto;
    text-align: left;
    padding-left: 10px;
    margin-left: 350px;
    margin-top: -5px;
    margin-bottom: 4px;
}


.detail1 h5{
    font-size: 17px;
    color: #ffffff;
}
.detail1 h3{
  margin-top: 16px;
}

.detail1 h5 b{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

/* .detail1 h5 b{
    font-weight: 25px;
} */
.submit-btn{
    margin-top: -47px;
    margin-left: 315px;
}

.detail1 a{
    margin-top: 120px;
    width: 200px;
    margin:5px;
    padding: 5px;   
    border: none;
    outline: none;
    height: 40px;
    color: #f7f3f3;
    background:#362b97;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
}

.unit-price{
  margin-right: -84px;
  margin-top: -10px;
}

.detail1 a:hover{
    padding: 2.6px;
    height: 30px;
    width: 140px;
    cursor: pointer;
    background: #ffffff;
    border-color: #6279F4;
    border: #6279F4;
    border-style: solid;
    color: #6279F4;
}

.product-item {
    margin-left: 90px;
}

.item-img{
    float: left;
    margin-left: 80px;
    margin-top: auto;
    height: 200px;
    width: 150px;
    border-radius: 40px;
}

.detail{
    text-align: left;
    padding-left: 10px;
    margin-left: 350px;
    margin-top: 80px;
    margin-bottom: 30px;
}

.detail h5{
    font-size: 17px;
    color: #ffffff;
}

.detail a{
    width: 100%;
    margin:20px;
    padding: 15px;
    border: none;
    outline: none;
    height: 40px;
    color: #ffffff;
    background:blueviolet;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
}

.detail a:hover{
    cursor: pointer;
    color: #ffffff;
    background:  blue;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin-top: -30px;
 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


.popup-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 45%;
  height: 70%;
  margin-top: -70px;
  
}


.topic{
  width: 350px;
  color: #000000;
  border: none;
  font-weight: bold;
  font-size:30px;
  margin-left: -10px;
  margin-top: 15px;
  margin-bottom: -60px;
  
}

.pop_id{
  
  color: #000000;
  border: none;
  font-weight: bold;
  font-size:20px;
  width: 10px;
 
}


.total-box{
  color: #000000;
  border: none;
  font-weight: bold;
  font-size:30px;
  width: 160px;
}
.total-li b{
  margin-top: 5px;
  font-weight: bold;
  font-size: 80px;
}



#popup_img{
  float: left;
  margin-left: 20px;
  margin-top:50px;
  margin-bottom: 75px;
  height: 250px;
  width: 230px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.popup #btn3{
 
  float: right;
  margin-right: 37px;
  margin-top: 30px;
    width: 150px;
    
    padding: 5px;   
    border: none;
    outline: none;
    height: 40px;
    color: #f7f3f3;
    background:#362b97;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
}
.popup #btn3:hover{
  padding: 2.6px;
    height: 40px;
    width: 150px;
    cursor: pointer;
    background: #ffffff;
    border-color: #6279F4;
    border: #6279F4;
    border-style: solid;
    color: #6279F4;
}

.popup #btn1{
  margin-top: 120px;
    width: 200px;
    margin:5px;
    padding: 5px;   
    border: none;
    outline: none;
    height: 40px;
    color: #f7f3f3;
    background:#362b97;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
}
.popup #btn1:hover{
  padding: 2.6px;
    height: 40px;
    width: 200px;
    cursor: pointer;
    background: #ffffff;
    border-color: #6279F4;
    border: #6279F4;
    border-style: solid;
    color: #6279F4;
}
.qty{
  margin-top: 20px;
  margin-bottom: -85px;
}

.qty label{
  font-size: 30px;
}

.qty-box{
  background: transparent;
}


#qty_id::-webkit-inner-spin-button {
  opacity: 1;
  margin: 0;
}

#qty_id{
  font-size: 20px;
  height: 26px;
  width: 160px;
  padding: 5px;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  outline: none;
}

#total_id{
  font-size: 20px;
  height: 26px;
  width: 140px;
  padding: 5px;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  outline: none;
}


.popupul{
  list-style-type: none;
  text-align: left;
  
}

.popupul li{
  width: 400px;
}

.subul{
  margin-top: -25px;
  list-style-type: none;
  text-align: left;
  height: 40px;
}

.subul li{
  display: inline-block;
  
}


@media screen and (max-width: 600px) {
  .coloum {
    /* width: 100%; */
    display: block;
    margin-bottom: 20px;
  }
}

