
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:rgb(220, 220, 233);
}
header{
  position: fixed;
  background: #362b97;
  padding: 20px;
  width: 100%;
  height: 30px;
}

.leftarea{
  padding-left: 20px;
}
.leftarea h3{
  color: #ffffff;
  margin: 0;
  font-size: 22px;
  font-weight: 900;
}
.leftarea span{
  color: rgb(9, 2, 59);
}
.rightarea{
  margin-top: -12px;
  margin-right: -5PX;
}

.notifyimgb{
  float: right;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
  margin-right: 40px;
  margin-top: -25px;
}
.notifyimgr{
  float: right;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
  margin-right: 40px;
  margin-top: -25px;
}

.logout{
  padding: 5px;
  background: rgb(9, 2, 59);
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.5s;
  transition-property: none;
}
.logout:hover{
  background: rgba(121, 95, 236, 0.452);
}
.sidebar{
  background: #5f599b;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
}
.sidebar .profileimg{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}
.center h4{
  margin-left: 101.1px;
}
.sidebar h4{
  color: #cccccc;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: -6px;
}
.sidebar a{
  color: #ffffff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}
.sidebar #a1{
  background: rgba(118, 169, 245, 0.5);
}
.sidebar a:hover{
  background: rgba(118, 169, 245, 0.5);
}
.sidebar i{
  padding-right: 10px;
}
label #sidebtn{
  z-index: 1;
  color: #ffffff;
  position: fixed;
  cursor: pointer;
  left: 5px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}
label #sidebtn:hover{
  color:rgba(121, 95, 236, 0.452);
}
#check:checked ~ .sidebar{
  left: -250px;
}
#check:checked ~ .sidebar a span{
  display: none;
}
.content{
  margin-left: 250px;
  background-color:rgb(220, 220, 233);
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
 
}
.box{
  width:800px;
  height: 600px;
  background: #ffffff;
  color: #000000;
  position: relative;
  transform: translate(-50%, -50%);
  background-position:center;
  background-size: cover;
  box-sizing: border-box;
  padding: 30px 30px;
  top: 57%;
  left: 50%;
  transition: 0.5s;
  transition-property: width;
  /* margin-top: 20px; */
  z-index: 1;
}

#check:checked ~ .content{
  margin-left: 0px;
}
#check{
  display: none;
}
.input{
   width: 100%;
   margin-bottom: 5px;
}

.box input[type="text"], input[type="textarea"]{
   border: none;
   border-bottom: 1px solid #ffffff;
   background: transparent;
   outline: none;
   height: 20px;
   color: #ffffff;
   font-size: 16px;
}
.box select{
   width:90%;
   margin-bottom: 5px;
   border: none;
   border-bottom: 1px solid #ffffff;
   background: transparent;
   background: rgba(0, 0, 0, 0.212);
   outline: none;
   height: 20px;
   color: hsl(0, 0%, 100%);
   font-size: 16px;
}
.box input{
   width: 90%;
   margin-bottom: 5px;
}

.td1{
 
  width: 600px;    
}
.td{
  font-weight: bold;
   width: 200px;
}


.td1 button{
  float: left;
}

.list th {
  border: 1px solid black;
}

.list td {
  border: 1px solid black;
}

.box #btn1{
  width:100px;
  margin-bottom: 10px;
  /* float: right; */
  border: none;
  outline: none;
  height: 40px;
  color: #f7f3f3;
  background:#362b97;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 285px;
  margin-top: 25px;
}
.box #btn1:hover{
  cursor: pointer;
 background: #ffffff;
 border-color: #6279F4;
 border: #6279F4 5px;
 border-style: solid;
 color: #6279F4;
    
}
.box #btn2{
  width: 150px;
  margin-bottom: 10px;
  /* float: right; */
  border: none;
  outline: none;
  height: 40px;
  color: #f7f3f3;
  background:#362b97;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 25px;
}
.box #btn2:hover{
  cursor: pointer;
  background: #ffffff;
  border-color: #6279F4;
  border: #6279F4 5px;
  border-style: solid;
  color: #6279F4;
}

.box #btn3{
  width: 150px;
  margin-bottom: 10px;
  float: right;
  border: none;
  outline: none;
  height: 40px;
  color: #f7f3f3;
  background:#362b97;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 25px;
}
.box #btn3:hover{
   cursor: pointer;
  background: #ffffff;
  border-color: #6279F4;
  border: #6279F4 5px;
  border-style: solid;
  color: #6279F4;
}


.box #btn4{
  width: 45%;
  margin-bottom: 35px;
   border: none;
   outline: none;
   height: 40px;
   color: #ffffff;
   background: #f52a2a;
   font-size: 18px;
   border-radius: 20px;
   margin-left: 10px;
}
.box #btn4:hover{
   cursor: pointer;
   background: #f52a2a;
   color: #000000;
   box-shadow: 0 0 5px #f52a2a,
               0 0 25px #f52a2a,
               0 0 50px #f52a2a,
               0 0 200px #f52a2a;
}

.sidebar ul{
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.sidebar ul li{
  color: blue;
}
.sidebar .submenu{
  display: none;
}
.submenu a{
  color: blue;
}

.submenu a:hover{
  color: rgb(255, 255, 255);
}

.sidebar ul li:hover .submenu{
  display: block;
  position: absolute;
  background: white;
  width: 250px;
}
.content :left{
  float: left;
}
.content :left{
  float: right;
}

.sum{
  border: none;
  font-size: 16px;
 
 
}

.img{
  width: 23%;
  height: 23%;
  margin-left: 100px;
  padding-left: 0 0 0;
  margin-top: -35px;
  margin-bottom: 0;
}

.qty{
  margin-top: 10px;
  width:180px;
  height: 52px;
  padding: 5px;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
}

.qty input{
  font-size: 25px;
  height: 40px;
  width: 130px;
  padding: 5px;
  border-radius: 5px;
}

.updwn{
  margin-top: 4px;
  padding: 5px;
  float: right;
  width: 20px;
}

.updwn a:hover{
  color: blue;
}

.updwn i{
  margin-top: -12px;
  margin-left: -3px;
}

input[type=text], select, textarea {
  width: 80%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 350px;
  font-family: sans-serif;
  margin: 20px auto;
  margin-left: 40px;
  padding: 5px;
}

.progress {
  margin-left: 42px;
}

#drop-area.highlight {
  border-color: purple;
}

p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 50px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


.popup-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  height: 25%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.popup .btn3{
  width: 100px;
  margin-bottom: 35px;
   border: none;
   outline: none;
   height: 35px;
   color: #f7f3f3;
   background: #362b97;
   font-size: 18px;
   border-radius: 5px;
   margin-left: 10px;
}
.popup .btn3:hover{
   cursor: pointer;
   background: #7b85f1;
   color: #000000;
   padding: 2.6;
   /*box-shadow: 0 0 5px #6279F4,
               0 0 25px #6279F4,
               0 0 50px #6279F4,
               0 0 200px #6279F4;*/
}
.popup .btn4{
  width: 100px;
  margin-bottom: 35px;
   border: none;
   outline: none;
   height: 35px;
   color: #f7f3f3;
   background: #474747;
   font-size: 18px;
   border-radius: 5px;
   margin-left: 10px;
}
.popup .btn4:hover{
   cursor: pointer;
   background: #c0c0c0;
   color: #000000;
   padding: 2.6;
   /*box-shadow: 0 0 5px #6279F4,
               0 0 25px #6279F4,
               0 0 50px #6279F4,
               0 0 200px #6279F4;*/
}