
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(220, 220, 233);
}

::-webkit-scrollbar {                                     /*Scroll bar*/
  width: 12px;
}

::-webkit-scrollbar-track {
  background:#d2d6e4;
  box-shadow: inset 0 0 5px rgb(22, 33, 153); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(27, 2, 167);
  box-shadow: inset 0 0 16px rgb(182, 188, 255); 
  border-radius: 10px;
}

header{
  position: fixed;
  background: #362b97;
  padding: 20px;
  width: 100%;
  height: 30px;
  z-index: 2;
}
.leftarea{
  padding-left: 20px;
}
.leftarea h3{
  color: #fffbfb;
  margin: 0;
  font-size: 22px;
  font-weight: 900;
}
.leftarea span{
  color: rgb(9, 2, 59);
}
.rightarea{
  margin-top: -10px;
  margin-right: -3PX;
}

.notifyimgb{
  float: right;
  width: 34.5px;
  height: 34.5px;
  margin-bottom: 10px;
  margin-right: 42px;
  margin-top: -25px;
}
.notifyimgr{
  float: right;
  width: 34.5px;
  height: 34.5px;
  margin-bottom: 10px;
  margin-right: 42px;
  margin-top: -25px;
}
.logout{
  padding: 4.8px;
  background:  rgb(9, 2, 59);
  text-decoration: none;
  float: right;
  margin-top: -29.9px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.5s;
  transition-property: none;
}
.logout:hover{
  background: rgba(121, 95, 236, 0.452);
}
.sidebar{
  background:#5f599b;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 653px;
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
  overflow-x: hidden;  
  z-index: 1;      
}
.ul{                                                        /*Unorder List in side navigation bar*/
  border-bottom: 50px solid #5f599b ;
  z-index: 1;
}

.sidebar .profileimg{                                       /*Profile Image*/
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
  margin-left: 75px;
}

.center h4{                                               /*User Name*/
  margin-left: 101.1px;
}


.sidebar h4{                                                /*side menu */
  color: #cccccc;
  margin-top: 0;
  margin-bottom: 20px;
}
.sidebar a{
  color: #ffffff;
  display: block;
  width: 100%;
  line-height: 50px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}
.sidebar #a1{
  background: rgba(118, 169, 245, 0.5);
}
.sidebar a:hover{
  background: rgba(118, 169, 245, 0.5);
}
.sidebar i{
  padding-right: 10px;
}


.sidebar ul li a span{
  float:right;
}
label #sidebtn{                             /*Side Button*/
  z-index: 1;
  color: #ffffff;
  position: fixed;
  cursor: pointer;
  left: 5px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}
label #sidebtn:hover{
  color:   rgba(7, 25, 104, 0.452);
  
}
#check:checked ~ .sidebar{
  left: -250px;
}
#check:checked ~ .sidebar a span{
  display: none;
}
  
  .sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    
}
.sidebar ul li{
    color: blue;
}
.sidebar .submenu{
    display: none;
}
#btn-sub{                              
  display: none;
}
.submenu a{
    color: blue;
    background: white;
}

.sub-head{                                    
  color: #ffffff;
  background-color: #5f599b;
  cursor: pointer;
  z-index: 1;
  display: block;
  width: 100%;
  line-height: 50px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;

}


.sub-head:hover{                                   
  color: rgb(255, 255, 255);
  background-color: rgba(118, 169, 245, 0.5);
}

.sub-head span{                                  
  float:right;
}

.submenu a:hover{
    color: rgb(255, 255, 255);
    background-color: #756fbe;
  
}

[id^=btn-sub]:checked + .submenu{                          
  display:  block;
  position: static;
  background: transparent;
  width: 250px;
  
}

[id^=btn-sub]:checked + .submenu li{
  transform-origin: top center;
  opacity: 0;
  
}

[id^=btn-sub]:checked + .submenu li:nth-child(1){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: -150ms;
}

[id^=btn-sub]:checked + .submenu li:nth-child(2){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 0ms;
}

[id^=btn-sub]:checked + .submenu li:nth-child(3){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 150ms;
}

[id^=btn-sub]:checked + .submenu li:nth-child(4){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 300ms;
}


@keyframes animate{
  0%{
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50%{
    transform: rotateX(20deg);
  }
  100%{
    opacity: 1;
    transform: rotateX(0deg);
  }
}
.content{
  margin-left: 250px;
  background-color: rgb(220, 220, 233);
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
 
}
.box{
  
   width: 1080px;
   height: 720px;
   background: rgb(255, 255, 255);
   color: #1d1b1b;
   position: relative;
   transform: translate(-50%, -50%);
   background-position: center;
   background-size: cover;
   box-sizing: border-box;
   padding: 30px 30px;
   top: 67%;
   left: 50%;
   transition: 0.5s;
   transition-property: width;
   z-index: 1;
}

#check:checked ~ .content{
  margin-left: 0px;
}
#check{
  display: none;
}
.input{
   width: 100%;
   margin-bottom: 5px;
}

.box input[type="text"], input[type="textarea"]{
   border: none;
   border-bottom: 1px solid #111010;
   background: transparent;
   outline: none;
   height: 20px;
   color: #1f1b1b;
   font-size: 16px;
}
.box select{
   width:90%;
   margin-bottom: 5px;
   border: none;
   border-bottom: 1px solid #181717;
   background: transparent;
   background: rgba(0, 0, 0, 0.212);
   outline: none;
   height: 20px;
   color: hsl(0, 0%, 3%);
   font-size: 16px;
}
.box input{
   width: 90%;
   margin-bottom: 5px;
}
.td{
   width: 400px;
}
.td{
   width: 400px;
}
.box #btn1{
  width: 20%;
  margin-bottom: 35px;
  float: right;
   border: none;
   outline: none;
   height: 40px;
   color: #f7f3f3;
   background: #362b97;
   font-size: 18px;
   border-radius: 5px;
   margin-left: 10px;
}
.box #btn1:hover{
   cursor: pointer;
   background: #7b85f1;
   /*border-color: #6279F4;
   border: #6279F4 5px;
   border-style: solid;*/
   color: #000000;
   padding: 2.6px;
   
  
}

.box #btn2{
  width: 45%;
  margin-bottom: 35px;
   border: none;
   outline: none;
   height: 40px;
   color: #ffffff;
   background: #6ef462;
   font-size: 18px;
   border-radius: 20px;
   margin-left: 10px;
}
.box #btn2:hover{
   cursor: pointer;
   background: #6ef462;
   color: #000000;
   box-shadow: 0 0 5px #6ef462,
               0 0 25px #6ef462,
               0 0 50px #6ef462,
               0 0 200px #6ef462;
}

.box #btn3{
  width: 45%;
  margin-bottom: 35px;
   border: none;
   outline: none;
   height: 40px;
   color: #ffffff;
   background: #f5e72a;
   font-size: 18px;
   border-radius: 20px;
   margin-left: 10px;
}
.box #btn3:hover{
   cursor: pointer;
   background: #f5e72a;
   color: #000000;
   box-shadow: 0 0 5px #f5e72a,
               0 0 25px #f5e72a,
               0 0 50px #f5e72a,
               0 0 200px #f5e72a;
}

.box #btn4{
  width: 45%;
  margin-bottom: 35px;
   border: none;
   outline: none;
   height: 40px;
   color: #ffffff;
   background: #f52a2a;
   font-size: 18px;
   border-radius: 20px;
   margin-left: 10px;
}
.box #btn4:hover{
   cursor: pointer;
   background: #f52a2a;
   color: #000000;
   box-shadow: 0 0 5px #f52a2a,
               0 0 25px #f52a2a,
               0 0 50px #f52a2a,
               0 0 200px #f52a2a;
}


.content :left{
  float: left;
}
.content :left{
  float: right;
}

.img{
  width: 23%;
  height: 23%;
  margin-left: 100px;
  padding-left: 0 0 0;
  margin-top: -35px;
  margin-bottom: 0;
}
.box a{
  /* margin-top: 120px; */
  width: 50%;
  margin-left:0px;
  margin-bottom: 15px;
  padding: 6px;
  border: none;
  outline: none;
  height: 40px;
  color:#f7f3f3;
  background: #362b97;
  font-size: 17px;
  border-radius: 5px;
  text-decoration: none;
}

.box a:hover{
  cursor: pointer;
  color: #000000;
  background:#7b85f1;
  border:  #6279F4 1px;
  border-color:  #6279F4;
  border-style: solid;
  padding: 5px;
}

.btn2{
  width:60%;
  margin-left:0px;
  margin-bottom: 0px;
  padding: 6px;
  border: none;
  outline: none;
  height: 40px;
  color:#f7f3f3;
  background: #362b97;
  font-size: 17px;
  border-radius: 5px;
  text-decoration: none;
}

.btn2:hover{
  cursor: pointer;
  color: #000000;
  background:#7b85f1;
  border:  #6279F4 1px;
  border-color:  #6279F4;
  border-style: solid;
  padding: 5px;
}

.td{
  width: 400px;
  height: 100px;
}
table{
 border-collapse: collapse;
 text-align: center;
}

.box th{
 background-color: #362b97;
 color: rgb(255, 255, 255);
 padding: 0px;
 height: 50px;
}
.box tr{
 height: 50px;
}
.box tr:nth-child(even){
 background-color: #8878e0;
}

.box tr:hover{
 background-color:rgb(220, 220, 233);
}



.form-popup {
  display: none;
  align-self: center;
  position: fixed;
  height: 200px;
  width: 400px; 
  bottom: 100px;
  right:700px;
  left: 260px;
  top: 300px;
  border: 3px solid #555;
  background-color: #555;
  border-radius: 5px;
  z-index: 1;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


.popup-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  height: 25%;
}



.popup-content ul{
  font-size: 20px;
  margin-top: -10px;
  list-style: none;
}

.popup-content ul li{
  margin-top: 30px;
  margin-bottom: -20px;
  list-style: none;
}
.popup-content ul li input{
  width: 150px;
  font-size: 25px;
  border: none;
  background: transparent;
  border-color: white;
}
#qty_id{
  border: none;
}

#qty_id::-webkit-inner-spin-button {
  opacity: 1;
  
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -15px;
  margin-right: -5px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.popup .btn4{
  width: 100px;
  margin-top: 45px;
  margin-bottom: -55px;
   border: none;
   outline: none;
   height: 35px;
   color: #f7f3f3;
   background: #474747;
   font-size: 18px;
   border-radius: 5px;
   margin-left: 5px;
   margin-right: 10px;
}
.popup .btn4:hover{
   cursor: pointer;
   background: #c0c0c0;
   color: #000000;
   padding: 2.6;
   /*box-shadow: 0 0 5px #6279F4,
               0 0 25px #6279F4,
               0 0 50px #6279F4,
               0 0 200px #6279F4;*/
}