body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #d6d6d6;
}
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#d2d6e4;
    box-shadow: inset 0 0 5px rgb(22, 33, 153); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(27, 2, 167);
    box-shadow: inset 0 0 16px rgb(182, 188, 255); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0c0a53; 
  }
header{
    position: fixed;
    background: #362b97;
    padding: 20px;
    width: 100%;
    height: 30px;
    z-index: 2;
}
.leftarea{
    padding-left: 20px;
}
.leftarea h3{
    color: #fffbfb;
    margin: 0;
    font-size: 22px;
    font-weight: 900;
}
.leftarea span{
    color:rgb(9,2,59);
}
.logout{
    padding: 5px;
    background:rgb(9,2,59);
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #eeeded;
    transition: 0.5s;
    transition-property: none;
}
.logout:hover{
    background: rgba(121,95,236,0.452);
}
.sidebar{
    background: #5f599b;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
    overflow-x: hidden;
}
.sidebar .profileimg{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}
.sidebar h4{
    color: #cccccc;
    margin-top: 0;
    margin-bottom: 20px;
}
.sidebar a{
    color: #ffffff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}
.sidebar #a1{
    background:rgba(118, 169, 245, 0.5);
}
.sidebar a:hover{
    background:rgba(114, 141, 182, 0.5);
}
.sidebar i{
    padding-right: 10px;
}
label #sidebtn{
    z-index: 1;
    color: #ffffff;
    position: fixed;
    cursor: pointer;
    left: 5px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}
label #sidebtn:hover{
    color: rgba(150, 130, 17, 0.322);
}
#check:checked ~ .sidebar{
    left: -250px;
}
#check:checked ~ .sidebar a span{
    display: none;
}
.content{
    margin-left: 250px;
    /* background: url(img/img.jpg) repeat-x; */
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
   background-color: rgb(220, 220, 233);
}
.box{
     width: 900px;
     height: 520px;
     background:rgb(255, 255, 255);
     color: #1d1b1b;
     position: relative;
     transform: translate(-50%, -50%);
     background-position: center;
     background-size: cover;
     box-sizing: border-box;
     padding: 30px 60px;
     top: 56%;
     left: 50%;
     transition: 0.5s;
     transition-property: width;
 }

#check:checked ~ .content{
    margin-left: 0px;
}
#check{
    display: none;
}
.input{
     width: 100%;
     margin-bottom: 20px;
 }

 .box input[type="text"], input[type="date"], input[type="number"]{
     border: none;
     border-bottom: 1px solid #111010;
     background: transparent;
     outline: none;
     height: 25px;
     color: #1f1b1b;
     font-size: 16px;
     /* padding: 0px 30px; */
 }

 .box input{
     width: 80%;
     margin-bottom: 10px;
 }

/* table.fix{
    table-layout: fixed;
} */

.box p{
    font-weight: bold;
    margin-top: 5px; 
}

.td{
     width: 400px;
} 

.td1{
    width:100px;
    padding-left:0px;
    padding-right:15px;
    font-weight: bold;
}

.box button{
    width: 15%;
    margin-bottom: 15px;
    float: right;
     border: none;
     outline: none;
     height: 40px;
     color:#f7f3f3;
     background: #362b97;
     font-size: 18px;
     border-radius: 5px;
     margin-left: 30px;
 }

 .box button:hover{
    cursor: pointer;
    background: #7b85f1;
    border:  #6279F4 1px;
    border-color:  #6279F4;
    border-style: solid;
    padding: 2.6px;
    /* background: #f50303; */
    color:#000000;
    /* box-shadow: 0 0 5px #f50303,
                0 0 25px #f50303,
                0 0 50px #f50303,
                0 0 200px #f50303; */
}

/* .box #btn1{
    width: 15%;
    margin-bottom: 15px;
    float: right;
     border: none;
     outline: none;
     height: 40px;
     color: #f7f3f3;
     background: #362b97;
     font-size: 18px;
     border-radius: 5px;
     margin-left: 50px;
}*/

/*.box #btn1:hover{
    cursor: pointer;
    background: #7b85f1;
    border:  #6279F4 1px;
    border-color:  #6279F4;
    border-style: solid;
    padding: 2.6px;
    color:#000000;
    box-shadow: 0 0 5px #f50303,
                0 0 25px #f50303,
                0 0 50px #f50303,
                0 0 200px #f50303; 
} */

.sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.sidebar ul li{
    color: blue;
}
.sidebar .submenu{
    display: none;
}
.submenu a{
    color: blue;
}
/*.sidebar ul li:hover .submenu{
    display: block;
    position: absolute;
    background: white;
    width: 250px;
}*/
#btn-sub1{                                  
    display: none;
  } 
  #btn-sub2{                                  
    display: none;
  } 
  #btn-sub3{                                  
    display: none;
  } 
  #btn-sub4{                                  
    display: none;
  } 
  
  .sub-head{                                        
    color: #ffffff;
    background-color: #5f599b;
    cursor: pointer;
    z-index: 1;
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  
  .sub-head:hover{                                    
    color: rgb(255, 255, 255);
    background-color: rgba(118, 169, 245, 0.5);
  }
  
  .sub-head span{                                     
    float:right;
  }
  [id^=btn-sub]:checked + .submenu{                          
    display:  block;
    position: static;
    background: white;
    width: 250px;
  }
  
  [id=btn-sub1]:checked + .submenu li{
    transform-origin: top center;
    opacity: 0;
    
  }
  
  
  [id^=btn-sub]:checked + .submenu li:nth-child(1){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: -150ms;
  }
  
  [id^=btn-sub]:checked + .submenu li:nth-child(2){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 0ms;
  }
  
  [id^=btn-sub]:checked + .submenu li:nth-child(3){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 150ms;
  }
  
  [id^=btn-sub]:checked + .submenu li:nth-child(4){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 300ms;
  }
  
  @keyframes animate{
    0%{
      opacity: 0;
      transform: rotateX(-90deg);
    }
    50%{
      transform: rotateX(20deg);
    }
    100%{
      opacity: 1;
      transform: rotateX(0deg);
    }
  }


  .ul{
    border-bottom: 120px solid #5f599b ;
  }
  .center{
    margin-left: 75px;
  }
  .center .h4{
    margin-left: 22px;
  }
  .error
  {
    color: red;
    size: 80%
  }
  .hidden
  {
    display:none;
  }

  .slip{
    width: 400px;
    height: 400px;
    margin-left: 30px;
    padding-left: 0 0 0;
    margin-top: -35px;
    margin-bottom: 0;
    float: center;
  }

  .popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .popup-content {
    background-color: #fefefe;
    margin-left: 400px;
    margin-top: -120px;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 75%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .popup .btn3{
    width: 100px;
    margin-bottom: 35px;
    margin-top: 330px;
     border: none;
     outline: none;
     height: 35px;
     color: #f7f3f3;
     background: #362b97;
     font-size: 18px;
     border-radius: 5px;
     margin-left: 10px;
  }
  .popup .btn3:hover{
     cursor: pointer;
     background: #7b85f1;
     color: #000000;
     padding: 2.6;
     /*box-shadow: 0 0 5px #6279F4,
                 0 0 25px #6279F4,
                 0 0 50px #6279F4,
                 0 0 200px #6279F4;*/
  }
  .popup .btn4{
    width: 100px;
    margin-bottom: 35px;
    margin-top: 330px;
     border: none;
     outline: none;
     height: 35px;
     color: #f7f3f3;
     background: #474747;
     font-size: 18px;
     border-radius: 5px;
     margin-left: 10px;
  }
  .popup .btn4:hover{
     cursor: pointer;
     background: #c0c0c0;
     color: #000000;
     padding: 2.6;
     /*box-shadow: 0 0 5px #6279F4,
                 0 0 25px #6279F4,
                 0 0 50px #6279F4,
                 0 0 200px #6279F4;*/
  }
  .notifyimgb{
    float: right;
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-top: -30px;
  }
  .notifyimgr{
    float: right;
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-top: -35px;
  }