

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:rgb(220, 220, 233);
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background:#d2d6e4;
  box-shadow: inset 0 0 5px rgb(22, 33, 153); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(27, 2, 167);
  box-shadow: inset 0 0 16px rgb(182, 188, 255); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0c0a53; 
}

header{
  position: fixed;
  background:  #362b97;
  padding: 20px;
  width: 100%;
  height: 30px;
  z-index: 2;
}
.leftarea{
  padding-left: 20px;
}
.leftarea h3{
  color: #ffffff;
  margin: 0;
  font-size: 22px;
  font-weight: 900;
}
.leftarea span{
  color: rgb(9, 2, 59);
}

.rightarea{
  margin-top: -12px;
  margin-right: -5PX;
}

.notifyimgb{
  float: right;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
  margin-right: 40px;
  margin-top: -25px;
}
.notifyimgr{
  float: right;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
  margin-right: 40px;
  margin-top: -25px;
}


.logout{
  padding: 4.8px;
  background:  rgb(9, 2, 59);
  text-decoration: none;
  float: right;
  margin-top: -42.5px;
  margin-right: 42px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.5s;
  transition-property: none;
}
.logout:hover{
  background: rgba(121, 95, 236, 0.452);
}
.sidebar{
  background:#5f599b;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 653px;
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
  overflow-x: hidden
  }

  .ul{
    border-bottom: -10px solid #5f599b ;
  }

  .sidebar .profileimg{                                       /*Profile Image*/
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  
  .center h4{                                               /*User Name*/
    margin-left: 26px;
  }

.sidebar h4{
  color: #cccccc;
  margin-top: 0;
  margin-bottom: 20px;
}
.sidebar a{
  color: #ffffff;
  display: block;
  width: 100%;
  line-height: 50px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}
.sidebar #a1{
  background: rgba(118, 169, 245, 0.5);
}
.sidebar a:hover{
  background: rgba(118, 169, 245, 0.5);
}
.sidebar i{
  padding-right: 10px;
}
label #sidebtn{
  z-index: 1;
  color: #ffffff;
  position: fixed;
  cursor: pointer;
  left: 5px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}
label #sidebtn:hover{
  color: rgba(121, 95, 236, 0.452);
}
#check:checked ~ .sidebar{
  left: -250px;
}
#check:checked ~ .sidebar a span{
  display: none;
}

.sidebar ul{
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;

}


.sidebar ul li{
  color: blue;
}

.submenu a{
  color: blue;
  background: white;
}

#btn-sub{                                  
  display: none;
} 

.sub-head{                                        
  color: #ffffff;
  background-color: #5f599b;
  cursor: pointer;
  z-index: 1;
  display: block;
  width: 100%;
  line-height: 50px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sub-head:hover{                                    
  color: rgb(255, 255, 255);
  background-color: rgba(118, 169, 245, 0.5);
}

.sub-head span{                                     
  float:right;
}

.submenu a:hover{
  color: rgb(255, 255, 255);
  background-color: #756fbe;
}

.sidebar .submenu{
  display: none;
  
}

/* .sidebar ul li:hover .submenu{
  display: block;
  position: absolute;
  background: rgb(255, 255, 255);
  width: 250px;
} */

[id^=btn-sub]:checked + .submenu{                          
  display:  block;
  position: static;
  background: transparent;
  width: 250px;
}

[id^=btn-sub]:checked + .submenu li{
  transform-origin: top center;
  opacity: 0;
  
}


[id^=btn-sub]:checked + .submenu li:nth-child(1){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: -150ms;
}

[id^=btn-sub]:checked + .submenu li:nth-child(2){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 0ms;
}

[id^=btn-sub]:checked + .submenu li:nth-child(3){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 150ms;
}

[id^=btn-sub]:checked + .submenu li:nth-child(4){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 300ms;
}

@keyframes animate{
  0%{
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50%{
    transform: rotateX(20deg);
  }
  100%{
    opacity: 1;
    transform: rotateX(0deg);
  }
}

.content{
    margin-left: 250px;
    /*background: url("/project/img/img.jpg") repeat-x;*/
    background-color: rgb(220, 220, 233);
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
   
}
.box{
     width: 900px;
     height: 480px;
     background: transparent;
     color: #1d1b1b;
     position: relative;
     transform: translate(-50%, -50%);
     background-position: center;
     background-size: cover;
     box-sizing: border-box;
     padding: 30px 30px;
     top: 57%;
     left: 50%;
     transition: 0.5s;
     transition-property: width;
 }
 .minibox{
    width: 380px;
    height: 200px;
    margin-top: 20px;
    background: white;
 }
 .minibox1{
  width: 380px;
  height: 200px;
  background: white;
}
#a2{
  font-size: 30px;
  line-height: 50px;
  text-decoration: none;
  font-weight: 600;
  color: #000000;
  text-align: center;
}
.notify{
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background-color: lightblue;
  margin-top: 25px;
  margin-left: 20px;
}


#check:checked ~ .content{
    margin-left: 0px;
}
#check{
    display: none;
}
.input{
     width: 100%;
     margin-bottom: 20px;
 }
 
 .box input[type="text"], input[type="textarea"], input[type="password"]{
     border: none;
     border-bottom: 1px solid #111010;
     background: transparent;
     outline: none;
     height: 30px;
     color: #1f1b1b;
     font-size: 16px;
 }
 .box select{
     width:90%;
     margin-bottom: 10px;
     border: none;
     border-bottom: 1px solid #181717;
     background: transparent;
     background: rgba(0, 0, 0, 0.212);
     outline: none;
     height: 30px;
     color: hsl(0, 0%, 3%);
     font-size: 16px;
 }
 .box input{
     width: 90%;
     margin-bottom: 10px;
 }
.td{
     width: 400px;
}
.td{
     width: 400px;
}
 .box #btn1{
    width: 20%;
    margin-top: 25px;
    float: right;
     border: none;
     outline: none;
     height: 40px;
     color: #f7f3f3;
     background: #362b97;
     font-size: 18px;
     border-radius: 5px;
     margin-left: 10px;
 }
 .box #btn1:hover{
    cursor: pointer;
    background: #7b85f1;
    /*border-color: #6279F4;
    border: #6279F4 5px;
    border-style: solid;*/
    color: #000000;
    padding: 2.6px;
    
}

 .box #btn2{
    width: 45%;
    margin-bottom: 35px;
     border: none;
     outline: none;
     height: 40px;
     color: #ffffff;
     background: #6ef462;
     font-size: 18px;
     border-radius: 20px;
     margin-left: 10px;
 }
 .box #btn2:hover{
     cursor: pointer;
     background: #6ef462;
     color: #000000;
     box-shadow: 0 0 5px #6ef462,
                 0 0 25px #6ef462,
                 0 0 50px #6ef462,
                 0 0 200px #6ef462;
 }

 .box #btn3{
    width: 45%;
    margin-bottom: 35px;
     border: none;
     outline: none;
     height: 40px;
     color: #ffffff;
     background: #f5e72a;
     font-size: 18px;
     border-radius: 20px;
     margin-left: 10px;
 }
 .box #btn3:hover{
     cursor: pointer;
     background: #f5e72a;
     color: #000000;
     box-shadow: 0 0 5px #f5e72a,
                 0 0 25px #f5e72a,
                 0 0 50px #f5e72a,
                 0 0 200px #f5e72a;
 }

 .box #btn4{
    width: 45%;
    margin-bottom: 35px;
     border: none;
     outline: none;
     height: 40px;
     color: #ffffff;
     background: #f52a2a;
     font-size: 18px;
     border-radius: 20px;
     margin-left: 10px;
 }
 .box #btn4:hover{
     cursor: pointer;
     background: #f52a2a;
     color: #000000;
     box-shadow: 0 0 5px #f52a2a,
                 0 0 25px #f52a2a,
                 0 0 50px #f52a2a,
                 0 0 200px #f52a2a;
 }

 .sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.sidebar ul li{
    color: blue;
}
.sidebar .submenu{
    display: none;
}
.submenu a{
    color: blue;
}
/*.sidebar ul li:hover .submenu{
    display: block;
    position: absolute;
    background: white;
    width: 250px;
}*/
#btn-sub1{                                  
    display: none;
  } 
  #btn-sub2{                                  
    display: none;
  } 
  #btn-sub3{                                  
    display: none;
  } 
  #btn-sub4{                                  
    display: none;
  } 
  
  .sub-head{                                        
    color: #ffffff;
    background-color: #5f599b;
    cursor: pointer;
    z-index: 1;
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  
  .sub-head:hover{                                    
    color: rgb(255, 255, 255);
    background-color: rgba(118, 169, 245, 0.5);
  }
  
  .sub-head span{                                     
    float:right;
  }
  [id^=btn-sub]:checked + .submenu{                          
    display:  block;
    position: static;
    background: white;
    width: 250px;
  }
  
  [id=btn-sub1]:checked + .submenu li{
    transform-origin: top center;
    opacity: 0;
    
  }
  
  
  [id^=btn-sub]:checked + .submenu li:nth-child(1){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: -150ms;
  }
  
  [id^=btn-sub]:checked + .submenu li:nth-child(2){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 0ms;
  }
  
  [id^=btn-sub]:checked + .submenu li:nth-child(3){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 150ms;
  }
  
  [id^=btn-sub]:checked + .submenu li:nth-child(4){
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 300ms;
  }
  
  @keyframes animate{
    0%{
      opacity: 0;
      transform: rotateX(-90deg);
    }
    50%{
      transform: rotateX(20deg);
    }
    100%{
      opacity: 1;
      transform: rotateX(0deg);
    }
  }
.bar{
    width: 800px;
    display: block;
    height: 4px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #1c73c5b3;
}
.h6{
    float: right;
}
.bar span{
    height: 4px;
    float: left;
    background: #1c89f0b3;
}
.ul{
  border-bottom: 120px solid #5f599b ;
}

  .td{
    width: 400px;
    height: 100px;
}
table{
   border-collapse: collapse;
   text-align: center;
}

th{
   background-color: #362b97;
   color: rgb(255, 255, 255);
   padding: 0px;
   height: 50px;
}
tr{
   height: 50px;
}
tr:nth-child(even){
   background-color: #8878e0;
}

tr:hover{
   background-color:rgb(220, 220, 233);
}
.center{
  margin-left: 75px;
}
.center .h4{
  margin-left: 22px;
}