body{
    /*background: url(img/img.jpg) center center no-repeat fixed;*/
    background-color: rgb(220, 220, 233);
    background-size: cover;
 }
 .box{
     width: 320px;
     height: 420px;
     background: rgb(255, 255, 255);
     color: #1d1b1b;
     top: 50%;
     left: 50%;
     position: absolute;
     transform: translate(-50%, -50%);
     box-sizing: border-box;
     padding: 70px 30px;
     
 }
 .avatar{
     width: 100px;
     height: 100px;
     border-radius: 50%;
     position: absolute;
     top: -50px;
     left: calc(50% - 50px);
 }
 h1{
     margin: 0;
     padding: 0 0 5px;
     text-align: center;
 }
 h4{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    color: red;
}
 p{
     margin: 0;
     padding: 0;
     font-weight: bold;
 }
 input{
     width: 100%;
     margin-bottom: 20px;
 }
 
 .box input[type="text"], input[type="password"]{
     border: none;
     border-bottom: 1px solid #111010;
     background: transparent;
     outline: none;
     height: 40px;
     color: #1f1b1b;
     font-size: 16px;
 }
 .box input{
     width: 100%;
     margin-bottom: 20px;
 }
 .box button{
    width: 100%;
    margin-bottom: 20px;
     border: none;
     outline: none;
     height: 40px;
     color: #f7f3f3;
     background: #362b97;
     font-size: 18px;
     border-radius: 5px;
 }
 .box button:hover{
     cursor: pointer;
     background: #7b85f1;
     color: #000000;
     padding: 2.6px;
     /*box-shadow: 0 0 5px #f50303,
                 0 0 25px #f50303,
                 0 0 50px #f50303,
                 0 0 200px #f50303;*/
 }
 .box a{
     font-size: 12px;
     text-decoration: none;
     line-height: 20px;
     color: #000000;
 }
 .box a:hover{
     color: #362b97;
 }
 
  @media screen and (max-width: 1024px) and  (max-height: 1400px) {
    .box{
        width: 720px;
        height: 1024px;
        background: rgb(255, 255, 255);
        color: #1d1b1b;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 70px 30px;
        
    }
    .box input[type="text"], input[type="password"]{
        border: none;
        border-bottom: 1px solid #111010;
        background: transparent;
        outline: none;
        height: 80px;
        color: #1f1b1b;
        font-size: 40px;
        padding: 10px;
    }
    .box button{
        width: 100%;
        margin-bottom: 20px;
         border: none;
         outline: none;
         height: 80px;
         color: #f7f3f3;
         background: #362b97;
         font-size: 40px;
         border-radius: 5px;
     }
     .box button:hover{
         cursor: pointer;
         background: #7b85f1;
         color: #000000;
         padding: 2.6px;
         /*box-shadow: 0 0 5px #f50303,
                     0 0 25px #f50303,
                     0 0 50px #f50303,
                     0 0 200px #f50303;*/
     }
    .p{
        margin: 0;
        padding: 10px;
        font-size: 40px;
        font-weight: bold;
    }
    .avatar{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: absolute;
        top: -100px;
        left: calc(50% - 90px);
    }
    h1{
        margin: 0;
        padding: 0 0 10px;
        padding-top: 50px;
        font-size: 80px;
        text-align: center;
    }
    .box a{
        font-size: 30px;
        text-decoration: none;
        line-height: 30px;
        color: #000000;
    }
    .box a:hover{
        color: #362b97;
        padding: 2.6px;
    }
  }
  @media screen and (max-width: 1024px) and (max-height: 1024px) {
    .box{
        width: 650px;
        height: 800px;
        background: rgb(255, 255, 255);
        color: #1d1b1b;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 70px 30px;
        
    }
    .box input[type="text"], input[type="password"]{
        border: none;
        border-bottom: 1px solid #111010;
        background: transparent;
        outline: none;
        height: 80px;
        color: #1f1b1b;
        font-size: 30px;
        padding: 10px;
    }
    .box button{
        width: 100%;
        margin-bottom: 20px;
         border: none;
         outline: none;
         height: 80px;
         color: #f7f3f3;
         background: #362b97;
         font-size: 40px;
         border-radius: 5px;
     }
     .box button:hover{
         cursor: pointer;
         background: #7b85f1;
         color: #000000;
         padding: 2.6px;
         /*box-shadow: 0 0 5px #f50303,
                     0 0 25px #f50303,
                     0 0 50px #f50303,
                     0 0 200px #f50303;*/
     }
    .p{
        margin: 0;
        padding: 10px;
        font-size: 35px;
        font-weight: bold;
    }
    .avatar{
        width: 180px;
        height: 180px;
        border-radius: 50%;
        position: absolute;
        top: -100px;
        left: calc(50% - 90px);
    }
    h1{
        margin: 0;
        padding: 0 0 10px;
        padding-top: 50px;
        font-size: 50px;
        text-align: center;
    }
    .box a{
        font-size: 30px;
        text-decoration: none;
        line-height: 30px;
        color: #000000;
    }
    .box a:hover{
        color: #362b97;
        padding: 2.6px;
    }
  }
  @media screen and (max-width: 415px) {
    .box{
        width: 280px;
        height: 520px;
        background: rgb(255, 255, 255);
        color: #1d1b1b;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 70px 30px;
        
    }
    .box input[type="text"], input[type="password"]{
        border: none;
        border-bottom: 1px solid #111010;
        background: transparent;
        outline: none;
        height: 20px;
        color: #1f1b1b;
        font-size: 15px;
        padding: 5px;
    }
    .box button{
        width: 100%;
        margin-bottom: 20px;
         border: none;
         outline: none;
         height: 40px;
         color: #f7f3f3;
         background: #362b97;
         font-size: 15px;
         border-radius: 5px;
     }
     .box button:hover{
         cursor: pointer;
         background: #7b85f1;
         color: #000000;
         padding: 2.6px;
         /*box-shadow: 0 0 5px #f50303,
                     0 0 25px #f50303,
                     0 0 50px #f50303,
                     0 0 200px #f50303;*/
     }
    .p{
        margin: 0;
        padding: 10px;
        font-size: 15px;
        font-weight: bold;
    }
    .avatar{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: calc(50% - 50px);
    }
    h1{
        margin: 0;
        padding: 0 0 10px;
        padding-top: 5px;
        font-size: 30px;
        text-align: center;
    }
    .box a{
        font-size: 15px;
        text-decoration: none;
        line-height: 30px;
        color: #000000;
    }
    .box a:hover{
        color: #362b97;
        padding: 2.6px;
    }
  }
  #icon3 {
    margin-left: -30px;
    cursor: pointer;
}