body{
    /*background: url(img/img.jpg) center center no-repeat fixed;*/
    background-color: rgb(220, 220, 233);
    background-size: cover;
 }
 .box{
     width: 320px;
     height: 530px;
     background: rgb(255, 255, 255);
     color: #1d1b1b;
     top: 50%;
     left: 50%;
     position: absolute;
     transform: translate(-50%, -50%);
     box-sizing: border-box;
     padding: 20px 30px;
     
 }
 .avatar{
     width: 100px;
     height: 100px;
     border-radius: 50%;
     position: absolute;
     top: -50px;
     left: calc(50% - 50px);
 }
 h1{
     margin: 0;
     padding: 0 0 20px;
     text-align: center;
 }
 h4{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    color: red;
}
 .p{
     margin: 0;
     padding: 0;
     font-weight: bold;
 }
 .input{
     width: 100%;
     margin-bottom: 5px;
     
 }
 
 .box input[type="text"], input[type="password"],input[type="email"]{
     border: none;
     border-bottom: 1px solid #111010;
     background: transparent;
     outline: none;
     height: 40px;
     color: #1f1b1b;
     font-size: 16px;
 }
 .box input{
     width: 100%;
     margin-bottom: 10px;
 }
 .box button{
    width: 100%;
    margin-bottom: 20px;
     border: none;
     outline: none;
     height: 40px;
     color: #f7f3f3;
     background: #362b97;
     font-size: 18px;
     border-radius: 5px;
 }
 .box button:hover{
     cursor: pointer;
     background: #7b85f1;
     color: #000000;
     padding: 2.6px;
     /*box-shadow: 0 0 5px #f50303,
                 0 0 25px #f50303,
                 0 0 50px #f50303,
                 0 0 200px #f50303;*/
 }
 .box a{
     font-size: 12px;
     text-decoration: none;
     line-height: 20px;
     color: #000000;
 }
 .box a:hover{
     color: #362b97;
 }
 .error
{
  color: red;
  size: 80%
}
.hidden
{
  display:none;
}