body{
    /*background: url(img/img.jpg) center center no-repeat fixed;*/
    background-color: rgb(220, 220, 233);
    background-size: cover;
 }
 .box{
    width: 900px;
    height: 420px;
     background: rgb(255, 255, 255);
     color: #1d1b1b;
     top: 50%;
     left: 50%;
     position: absolute;
     transform: translate(-50%, -50%);
     box-sizing: border-box;
     padding: 20px 30px;
     
 }
 .avatar{
     width: 100px;
     height: 100px;
     border-radius: 50%;
     position: absolute;
     top: -50px;
     left: calc(50% - 50px);
 }
 h1{
     margin: 0;
     top: -20%;
     padding: 0 0 20px;
     text-align: left;
 }
 
 p{
     margin: 0;
     padding: 0;
     font-weight: bold;
 }
 
 
 .box input[type="text"], input[type="password"], input[type="email"]{
     border: none;
     border-bottom: 1px solid #111010;
     background: transparent;
     outline: none;
     height: 40px;
     color: #1f1b1b;
     font-size: 16px;
 }
 .input{
    width: 100%;
    margin-bottom: 15px;
}

.box input[type="text"], input[type="textarea"],input[type="password"]{
    border: none;
    border-bottom: 1px solid #111010;
    background: transparent;
    outline: none;
    height: 30px;
    color: #1f1b1b;
    font-size: 16px;
}
.box select{
    width:90%;
    margin-bottom: 10px;
    border: none;
    padding: 0px;
    border-bottom: 1px solid #181717;
    background: transparent;
    background: rgba(0, 0, 0, 0.212);
    outline: none;
    height: 30px;
    color: hsl(0, 0%, 3%);
    font-size: 16px;
}
.box input{
    width: 90%;
    margin-bottom: 10px;
    
}
.td{
    width: 400px;
}
.td{
    width: 400px;
}
 .box button{
    width: 20%;
    margin-bottom: 20px;
    margin-right: 5px;
    float: right;
     border: none;
     outline: none;
     height: 40px;
     color: #f7f3f3;
     background: #362b97;
     font-size: 18px;
     border-radius: 5px;
 }
 .box button:hover{
     cursor: pointer;
     background: #7b85f1;
     color: #000000;
     padding: 2.6px;
    /* box-shadow: 0 0 5px #f50303,
                 0 0 25px #f50303,
                 0 0 50px #f50303,
                 0 0 200px #f50303;*/
 }
 .box a{
     font-size: 12px;
     text-decoration: none;
     line-height: 20px;
     color: #000000;
 }
 .box a:hover{
     color: #362b97;
 }
 #icon3 {
    margin-left: -30px;
    cursor: pointer;
}
#icon4 {
    margin-left: -30px;
    cursor: pointer;
}
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  
  .popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    height: 25%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .popup .btn3{
    width: 100px;
    margin-bottom: 35px;
     border: none;
     outline: none;
     height: 35px;
     color: #f7f3f3;
     background: #362b97;
     font-size: 18px;
     border-radius: 5px;
     margin-left: 10px;
  }
  .popup .btn3:hover{
     cursor: pointer;
     background: #7b85f1;
     color: #000000;
     padding: 2.6;
     /*box-shadow: 0 0 5px #6279F4,
                 0 0 25px #6279F4,
                 0 0 50px #6279F4,
                 0 0 200px #6279F4;*/
  }
  .popup .btn4{
    width: 100px;
    margin-bottom: 35px;
     border: none;
     outline: none;
     height: 35px;
     color: #f7f3f3;
     background: #474747;
     font-size: 18px;
     border-radius: 5px;
     margin-left: 10px;
  }
  .popup .btn4:hover{
     cursor: pointer;
     background: #c0c0c0;
     color: #000000;
     padding: 2.6;
     /*box-shadow: 0 0 5px #6279F4,
                 0 0 25px #6279F4,
                 0 0 50px #6279F4,
                 0 0 200px #6279F4;*/
  }