body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #d6d6d6;
}
header{
    position: fixed;
    background: #362b97;
    padding: 20px;
    width: 100%;
    height: 30px;
}
.leftarea{
    padding-left: 20px;
}
.leftarea h3{
    color: #fffbfb;
    margin: 0;
    font-size: 22px;
    font-weight: 900;
}
.leftarea span{
    color:rgb(9,2,59);
}
.logout{
    padding: 5px;
    background: rgb(9,2,59);
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #eeeded;
    transition: 0.5s;
    transition-property: none;
}
.logout:hover{
    background: rgba(121,95,236,0.452);
}
.sidebar{
    background: #5f599b;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}
.sidebar .profileimg{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}
.sidebar h4{
    color: #cccccc;
    margin-top: 0;
    margin-bottom: 20px;
}
.sidebar a{
    color: #ffffff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}
.sidebar #a1{
    background:rgba(118, 169, 245, 0.5);
}
.sidebar a:hover{
    background: rgba(114, 141, 182, 0.5);
}
.sidebar i{
    padding-right: 10px;
}
label #sidebtn{
    z-index: 1;
    color: #ffffff;
    position: fixed;
    cursor: pointer;
    left: 5px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}
label #sidebtn:hover{
    color: rgba(150, 130, 17, 0.322);
}
#check:checked ~ .sidebar{
    left: -250px;
}
#check:checked ~ .sidebar a span{
    display: none;
}
.content{
    margin-left: 250px;
    /* background: url(img/img.jpg) repeat-x; */
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
    background-color: rgb(220, 220, 233);
}
.box{
     width: 900px;
     height: 480px;
     background: rgb(255, 255, 255);
     color: #1d1b1b;
     position: relative;
     transform: translate(-50%, -50%);
     background-position: center;
     background-size: cover;
     box-sizing: border-box;
     padding: 30px 30px;
     top: 56%;
     left: 50%;
     transition: 0.5s;
     transition-property: width;
 }

#check:checked ~ .content{
    margin-left: 0px;
}
#check{
    display: none;
}
.input{
     width: 100%;
     margin-bottom: 20px;
 }

.box p{
    font-weight: bold;
    margin-left: 50px;
    margin-top: 0;
}

 .box input[type="text"]{
     border: none;
     border-bottom: 1px solid #111010;
     background: transparent;
     outline: none;
     height: 12px;
     color: #1f1b1b;
     font-size: 16px;
 }
 
 .box input{
     width: 70%;
     margin-bottom: 10px;
     margin-left: 50px;
 }

.td{
     width: 400px;
}
.td{
     width: 400px;
}

/* th{
    background-color: #362b97;
    color: rgb(255, 255, 255);
    padding: 0px;
}

tr:nth-child(even){
    background-color: #8878e0;
}

tr:hover{
    background-color:rgb(220, 220, 233);
} */

 .box #btn1{
    width: 15%;
     border: none;
     outline: none;
     height: 40px;
     color: #f7f3f3;
     background: #362b97;
     font-size: 18px;
     border-radius: 5px;
     margin-top: 60px;
     margin-left: 15px;
     margin-bottom: 15px;
 }
 .box #btn1:hover{
    cursor: pointer;
    background: #7b85f1;
    border:  #6279F4 1px;
    border-color:  #6279F4;
    border-style: solid;
    padding: 2.6px;
    /* background: #f50303; */
    color:#000000;
 }

 .box #btn2{
    width: 15%;
     border: none;
     outline: none;
     height: 40px;
     color: #f7f3f3;
     background: #362b97;
     font-size: 18px;
     border-radius: 5px;
     margin-top: 60px;
     margin-left: 140px;
     margin-bottom: 15px;
 }
 .box #btn2:hover{
    cursor: pointer;
    background: #7b85f1;
    border:  #6279F4 1px;
    border-color:  #6279F4;
    border-style: solid;
    padding: 2.6px;
    /* background: #f50303; */
    color:#000000;
 }

 .box a{
    /* margin-top: 120px; */
    width: 50%;
    margin-left:0px;
    margin-bottom: 15px;
    padding: 6px;
    border: none;
    outline: none;
    height: 40px;
    color:#f7f3f3;
    background: #362b97;
    font-size: 17px;
    border-radius: 5px;
    text-decoration: none;
}

.box a:hover{
    cursor: pointer;
    color: #000000;
    background:#7b85f1;
    border:  #6279F4 1px;
    border-color:  #6279F4;
    border-style: solid;
    padding: 5px;
}

 .box #btn3{
    width: 45%;
    margin-bottom: 35px;
     border: none;
     outline: none;
     height: 40px;
     color: #ffffff;
     background: #f5e72a;
     font-size: 18px;
     border-radius: 20px;
     margin-left: 10px;
 }
 .box #btn3:hover{
     cursor: pointer;
     background: #f5e72a;
     color: #000000;
     box-shadow: 0 0 5px #f5e72a,
                 0 0 25px #f5e72a,
                 0 0 50px #f5e72a,
                 0 0 200px #f5e72a;
 }

 .box #btn4{
    width: 45%;
    margin-bottom: 35px;
     border: none;
     outline: none;
     height: 40px;
     color: #ffffff;
     background: #f52a2a;
     font-size: 18px;
     border-radius: 20px;
     margin-left: 10px;
 }
 .box #btn4:hover{
     cursor: pointer;
     background: #f52a2a;
     color: #000000;
     box-shadow: 0 0 5px #f52a2a,
                 0 0 25px #f52a2a,
                 0 0 50px #f52a2a,
                 0 0 200px #f52a2a;
 }

 .sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.sidebar .submenu{
    display: none;
}

.sidebar ul li:hover .submenu{
    display: block;
    position: absolute;
    background: rgb(114, 114, 114);
    width: 250px;
}


.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }