
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #d6d6d6;
}
header{
    position: fixed;
    background:#362b97;
    padding: 20px;
    width: 100%;
    height: 30px;
}
.leftarea{
    padding-left: 20px;
}
.leftarea h3{
    color: #fffbfb;
    margin: 0;
    font-size: 22px;
    font-weight: 900;
}
.leftarea span{
    color: rgb(9,2,59);
}

.notifyimgb{
    float: right;
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-top: -30px;
  }
  .notifyimgr{
    float: right;
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-top: -35px;
  }
  
.logout{
    padding: 5px;
    background: rgb(9,2,59);
    text-decoration: none;
    float: right;
    margin-top: -30px;
    text-align: center;
    width: 60px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color:  #eeeded;
    transition: 0.5s;
    transition-property: none;
}
.logout:hover{
    background: rgba(121,95,236,0.452);
}
.sidebar{
    background: #5f599b;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}
.sidebar .profileimg{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}
.sidebar h4{
    color: #cccccc;
    margin-top: 0;
    margin-bottom: 20px;
}
.sidebar a{
    color: #ffffff;
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}
.sidebar #a1{
    background:rgba(118, 169, 245, 0.5);
}
.sidebar a:hover{
    background: rgba(114, 141, 182, 0.5);
}
.sidebar i{
    padding-right: 10px;
}
label #sidebtn{
    z-index: 1;
    color: #ffffff;
    position: fixed;
    cursor: pointer;
    left: 5px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}
label #sidebtn:hover{
    color: rgba(150, 130, 17, 0.322);
}
#check:checked ~ .sidebar{
    left: -250px;
}
#check:checked ~ .sidebar a span{
    display: none;
}
.content{
    margin-left: 250px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
    background-color: rgb(220, 220, 233);
}
.box{
     width: 900px;
     height: 540px;
     background: rgb(255, 255, 255);
     color:#1d1b1b;
     position: relative;
     transform: translate(-50%, -50%);
     background-position: center;
     background-size: cover;
     box-sizing: border-box;
     padding: 30px 30px;
     top: 57%;
     left: 50%;
     transition: 0.5s;
     transition-property: width;
 }

#check:checked ~ .content{
    margin-left: 0px;
}
#check{
    display: none;
}
.input{
     width: 80%;
     margin-bottom: 10px;
 }
 
.box h3{
    margin-top: 1px; 
}

.box p{
    font-weight: bold;
    margin-top: 6px; 
}

 .box input[type="text"], input[type="email"], input[type="password"]{
     border: none;
     border-bottom: 1px solid #111010;
     background: transparent;
     outline: none;
     height: 12px;
     color:  #1f1b1b;
     font-size: 16px;
 }
 .box select{
     width:80%;
     margin-bottom: 10px;
     border: none;
     border-bottom: 1px solid #181717;
     background: transparent;
     background: rgba(0, 0, 0, 0.212);
     outline: none;
     height: 24px;
     color: hsl(0, 0%, 3%);
     font-size: 16px;
 }
 .box input{
     width: 80%;
     margin-bottom: 10px;
 }
.td{
     width: 200px;
}

.td1{
    width:170px;
    padding-left:50px;
}

.td2{
    padding-left:30px;
}

.td3{
    padding-left:30px;
}

/* .table{
    color: #000000;
    width: 700px;
    table-layout: auto;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    border-collapse: collapse;
  } */

 .box #btn1{
    width: 10%;
    float: right;
    margin-bottom: 15px;
     border: none;
     outline: none;
     height: 40px;
     color: #f7f3f3;
     background: #362b97;
     font-size: 18px;
     border-radius: 5px;
     margin-left: 10px;
     margin-right: 60px;
 }
 .box #btn1:hover{
    cursor: pointer;
    background: #7b85f1;
    border-color: #6279F4;
    border: #6279F4 1px;
    border-style: solid;
    color: #000000;
}

.box #btn2{
    width: 30%;
    float: right;
    margin-bottom: 15px;
     border: none;
     outline: none;
     height: 40px;
     color: #f7f3f3;
     background: #362b97;
     font-size: 18px;
     border-radius: 5px;
     margin-left: 10px;
 }
 .box #btn2:hover{
    cursor: pointer;
    background: #7b85f1;
    border-color: #6279F4;
    border: #6279F4 1px;
    border-style: solid;
    color: #000000;
}

 .box #btn3{
    width: 45%;
    margin-bottom: 35px;
     border: none;
     outline: none;
     height: 40px;
     color: #ffffff;
     background: #f5e72a;
     font-size: 18px;
     border-radius: 20px;
     margin-left: 10px;
 }
 .box #btn3:hover{
     cursor: pointer;
     background: #f5e72a;
     color: #000000;
     box-shadow: 0 0 5px #f5e72a,
                 0 0 25px #f5e72a,
                 0 0 50px #f5e72a,
                 0 0 200px #f5e72a;
 }

 .box #btn4{
    width: 45%;
    margin-bottom: 35px;
     border: none;
     outline: none;
     height: 40px;
     color: #ffffff;
     background: #f52a2a;
     font-size: 18px;
     border-radius: 20px;
     margin-left: 10px;
 }
 .box #btn4:hover{
     cursor: pointer;
     background: #f52a2a;
     color: #000000;
     box-shadow: 0 0 5px #f52a2a,
                 0 0 25px #f52a2a,
                 0 0 50px #f52a2a,
                 0 0 200px #f52a2a;
 }

 .sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.sidebar ul li{
    color: blue;
}
.sidebar .submenu{
    display: none;
}
.submenu a{
    color: blue;
}
.sidebar ul li:hover .submenu{
    display: block;
    position: absolute;
    background: white;
    width: 250px;
}


.box a{
    text-decoration: none;
    color: white;
}
.box li{
    width: 500px;
    margin: 20px 0;
    list-style: none;
    
}
.bar{
    width: 800px;
    display: block;
    height: 4px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #1c73c5b3;
}

.h5{
    padding: 0;
    color: red;
}

.h6{
    float: right;
}
.bar span{
    height: 4px;
    float: left;
    background: #1c89f0b3;
}

.material1{
    width: 90%;
    animation: material 2s;
}

@keyframes material1{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
.material2{
    width: 30%;
    animation: material 2s;
}

@keyframes material2{
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}
.material3{
    width: 50%;
    animation: material 2s;
}

@keyframes material3{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

i {
    margin-left: -30px;
    cursor: pointer;
}

.error
{
  color: red;
  size: 80%
}
.hidden
{
  display:none;
}